- news = User.find_by_url 'news'
- news_count = news.new_entries_count_for(current_user)
- news_count = 15
%div{:data => {:role => 'content'}}
  .content-primary
    %center
      %h3= image_tag 'logo.png'
      %p мобильная версия сайта
  
    %ul{:data => {:role => "listview", :inset => "true"}}
      %li{:data => {:role => 'list-divider'}} Общее
      %li= link_to 'Прямой эфир', main_url(:action => :live)
      %li= link_to 'Лучшее', main_url(:action => :last)
      %li= link_to 'Анонимки', main_url(:action => :anonymous)
      -#%li= link_to "Новости#{content_tag(:span, news_count, :class => 'ui-li-count') unless news_count.zero?}"

      %li{:data => {:role => 'list-divider'}} Личное
      - if current_user
        %li= link_to 'Моё', main_url(:action => :my)
        %li= link_to 'Мой тлог', user_url(current_user)
        %li= link_to 'Друзья', main_url(:action => :fl)
      - else
        %li= link_to 'Войти', login_path

    %p
      %em Ваши вопросы и пожелания отправляйте на адрес feedback@mmm-tasty.ru.

- content_for :header_r do
  = link_to 'Обновить', '', 'data-icon' => 'refresh', 'data-iconpos' => 'notext', :class => 't-btn-refresh-main'