<% @title = EntryRating::RATINGS[@filter.rating.to_sym][:header] %>
<% content_for :head do %>
  <!-- content_for :head -->
  <%= auto_discovery_link_tag(:rss, service_url(main_feed_last_path(:rating => @filter.rating, :kind => @filter.kind))) %>
  <!-- /content_for :head -->
<% end %>
<% content_for :sidebar_right_calendar do %>
  <div class='section'>
    <h2><span>Дополнительно</span></h2>
    <p><%= link_to 'самое "горячее"', service_url(main_path(:action => 'hot')) %></p><br/>
    <p><%= link_to 'отвратительное', service_url(main_path(:action => 'worst')) %></p>      
  </div>

  <div class='section sidebar_calendar'>
    <h2><span>Лучшее за день</span></h2>
    <%-
      prev_year = nil
      User.calendar(@time).each do |month, days| -%><%=
        content_tag :span, days.first.year, :class => 'year' unless days.first.year == prev_year %><%-
        prev_year = days.first.year 
        -%> <span class='month'><%= month.to_rmonth_s.capitalize %></span> <%
        days.each do |day|
          url = service_url(last_day_path(:year => day.year, :month => day.month, :day => day.mday, :kind => @filter.kind, :rating => @filter.rating, :page => nil)) %> <%=
          link_to day.day, url, :class => classes('day', ['highlight', day.same_day?(@time)]) %> <%-
        end
      end
    -%>
  </div>
<% end if in_beta? %>

<div class='filter'>
  <form method='get' action='<%= service_url(main_path(:action => 'last_redirect')) %>'>
    <%= select :filter, :rating, EntryRating::RATINGS_FOR_SELECT %>
    <%= select :filter, :kind, Entry::KINDS_FOR_SELECT %>
    <%= submit_tag "обновить", :name => nil, :class => 'button_1' %>
  </form>
</div>

<div class='onair t-iscrollable' data-iscroll-name='last'>
  <% if @entries.blank? %>
    <div class='emptiness'>
      <h1>Тут совершенно пусто</h1>
      <p>По вашему запросу не было найдено ни одной записи.</p>
    </div>
  <% else %>
  
    <% @entries.each do |entry| %>
      <%= render :partial => 'entries/entry_display', :locals => { :entry => entry, :show_comments_bubble => true, :show_username => true, :comment_views => @comment_views } %>
    <% end %>
    
    <%= paginate @pager, :url_options => { :kind => @filter.kind, :rating => @filter.rating } %>
  <% end %>
</div>