<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, service_url(main_feed_path(:action => :live))) %>
<% end %>
<div class='onair t-iscrollable' data-iscroll-next="<%= @entries.present? ? @entries.last.id : '' %>" data-iscroll-name='live'>
  <% if @entries.blank? %>
    <div class='emptiness'>
      <h1>Тут ничего нет</h1>
      <p>К сожалению, не найдено ни одной записи, которую мы могли бы вам показать.</p>
      <p>Скорее всего потому, что вы докрутили до самого конца.</p>
      <p>Вернуться на первую страницу <%= link_to 'прямого эфира &rarr;', main_path(:action => :live) %></p>
    </div>
  <% else %>
    <% @entries.each do |entry| %>
      <%= render :partial => 'entries/entry_display', :locals => { :entry => entry, :show_comments_bubble => true, :show_username => true, :show_tags => false, :comment_views => @comment_views } %>
    <% end %>
    
    <%= infinite_paginate @entries.last.id %>
  <% end %>
</div>