<% content_for :head do %>
	<!-- content_for :head -->
	<%= auto_discovery_link_tag(:rss, user_url(current_user, tlog_feed_protected_path(:key => current_user.last_personalized_key, :action => :last_personalized))) %>
	<!-- /content_for :head -->
<% end %>
<div class='onair t-iscrollable' data-iscroll-name='my'>
  <% if @entries.blank? %>
    <div class='emptiness'>
      <h1>Тут совершенно пусто</h1>
      <p>К сожалению, не найдено ни одной записи, которую мы могли бы вам показать.</p>
      <p>Скорее всего это потому, что вы ни на кого не подписаны.</p>
    </div>
  <% else %>
  	<% @entries.each do |entry| %>
  		<%= render :partial => 'entries/entry_display', :locals => { :entry => entry, :show_comments_bubble => true, :show_username => true, :show_tags => false, :comment_views => @comment_views } %>
  	<% end %>

  	<%= paginate @entries %>
  <% end %>
</div>

<% content_for :sidebar_right do %>
  <div class='section'>
    <h2><span>Упорядочить</span></h2>
    <div class='vertical_nav'>
			<%= link_to 'по последнему комментарию', { :action => :my, :page => nil }, :class => (params[:action] == 'my') ? 'highlight' : nil %><br/>
			<%= link_to 'по дате написания', { :action => :last_personalized, :page => nil }, :class => (params[:action] == 'last_personalized') ? 'highlight' : nil %>
		</div>		
  </div>

  <div class='section'>
    <h2><span>Об этом разделе</span></h2>
    
    <div>
      <p>На этой странице появляются все записи, которые могут быть вам интересны: записи людей, на которых вы подписаны и ваши собственные записи.</p>
    </div>
  </div>
  
  <div class='section'>
    <h2><span>Переписки</span></h2>
    
    <div>
      <%
      unviewed_count = current_user.conversations.unviewed.count
      if unviewed_count > 0
      %>
  	    <p>У вас <%= link_to "#{unviewed_count.pluralize('непрочтенная переписка', 'непрочтенных переписки', 'непрочтенных переписок', true)}", user_url(current_user, unviewed_conversations_path) %>.</p>
  	  <% else %>
  	    <p>У вас нет непрочтенных сообщений.</p>
  	  <% end %>
  	  <br/><br/>
      <p><%= link_to 'Все ваши переписки &rarr;', user_url(current_user, conversations_path) %></p>
    </div>
  </div>
<% end %>