<% content_for :head do %>
  <!-- content_for :head -->
  <%= auto_discovery_link_tag(:rss, user_url(current_user, tlog_feed_protected_path(:key => current_user.last_personalized_key, :action => :last_personalized))) %>
  <!-- /content_for :head -->
<% end %>
<div class='onair t-iscrollable' data-iscroll-name='my'>
  <% if @entries.blank? %>
    <div class='emptiness'>
      <h1>Тут совершенно пусто</h1>
      <p>К сожалению, не найдено ни одной записи, которую мы могли бы вам показать.</p>
      <p>Скорее всего это потому, что вы ни на кого не подписаны.</p>
    </div>
  <% else %>
    <% @entries.each do |entry| %>
      <%= render :partial => 'entries/entry_display', :locals => { :entry => entry, :show_comments_bubble => true, :show_username => true, :show_tags => false, :comment_views => @comment_views } %>
    <% end %>

    <%= paginate @entries %>
  <% end %>
</div>

<% content_for :sidebar_right do %>
  <%= render :partial => 'main/my_sidebar_right' %>
  <%= render :partial => 'conversations/sidebar' %>
<% end %>
<% content_for :sidebar_right_below do %>
  <div class='section'>
    <h2><span>Статистика</span></h2>
    <% if current_user.created_at < 1.week.ago %>
      <p>Вы зарегистрированы в тейсти <b><%= content_tag(:span, days(@stats.days), :title => current_user.created_at.to_s(:db)) %></b> и за это время успели написать <b><%= content_tag(:span, current_user.entries_count.pluralize('запись', 'записи', 'записей', true), :title => "из них #{current_user.private_entries_count} — скрытых") %></b></p><br/>
    <% end %>
    <p><%= @stats.faves_count > 50 ? 'Обалдеть, за' : 'За' %> последние 24 часа ваши записи в избранное добавили <b><%= @stats.faves_count.pluralize('раз', 'раза', 'раз', true) %></b><%= ', увы' if @stats.faves_count.zero? %><%= ', что очень здорово' if @stats.faves_count > 15 %><%= '!' if @stats.faves_count > 50 %></p><br/>
    <% if current_user.is_premium? %>
      <p<%= ' class="highlight"' if current_user.premium_days_left <= 3 %>>Премиум-подписка заканчивается <b><%= ((current_user.premium_till - Time.now) > 24.hours) ? 'через ' + days(current_user.premium_days_left) : ( ((current_user.premium_till - Time.now) > 60.minutes) ? 'уже через ' + hours((current_user.premium_till - Time.now) / 1.hour) : 'с минуты на минуту!' ) %></b><% if current_user.premium_days_left <= 3 %>,
        <%= link_to 'продлить &rarr;', user_url(current_user, settings_premium_path) %>
      <% end %>
      </p>
    <% end %>
  </div>
<% end %>
