- @title = 'Порядок оплаты услуги тейсти-премиум'

- content_for :sidebar_right do
  = render :partial => 'adv_sidebar_right'

.t-main-payterms
  %h1 Порядок оплаты услуги Тейсти-Премиум

  %h2 Оплата с помощью системы WebMoney Transfer

  %ol
    %li
      Пользователю предлагается произвести оплату в WebMoney Transfer со своего электронного кошелька через cервис ROBOKASSA.
    %li
      Далее, клиент перенаправляется на сайт ROBOKASSA, где производит авторизацию и затем оплату со своего кошелька.
    %li
      Сразу же после оплаты ROBOKASSA уведомляет Тейсти о произведенной оплате с указанием соотвествующего номера транзакции.
    %li
      После того как ROBOKASSA сообщает Тейсти о покупке, производится перенаправление клиента обратно на страницу покупки Тейсти-Премиум, где пользователь сможет удостовериться что оплата принята.
    %li
      Услуга начинает предоставляться моментально, сразу после получения уведомления от сайта ROBOKASSA об успешной оплате.
    %li
      Оплата Тейсти-Премиум не освобождает пользователя от обязательств соблюдать правила предоставления услуги и выполнять соглашение с сервисом.
  
  %center.webmoney
    = link_to image_tag('premium/wm_accepted.png', :title => 'Мы принимаем WebMoney'), 'https://www.webmoney.ru/'
    %a{:href => "https://passport.webmoney.ru/asp/certview.asp?wmid=#{@wmid}", :target => '_blank'}= image_tag 'premium/wm_attestated.png', :title => "Здесь находится аттестат нашего WM идентификатора #{@wmid}"
    %br
    %a{:href => "https://passport.webmoney.ru/asp/certview.asp?wmid=#{@wmid}", :target => '_blank'} Проверить аттестат
  