- @title = 'Статистика посещений сайта'
- content_for :head do
  = tasty_include_javascripts :highcharts

- content_for :sidebar_right do
  = render :partial => 'adv_sidebar_right'

- content_for :sidebar_left do
  = render :partial => 'adv_sidebar_left'

.t-main-adv
  .entry_pagination.top_nav_paginator
    %a.entry_pagination_prev{:href => 'adv'} &larr; о рекламе

  %h2 Уникальные посетители
  %p
    Среднее время, проводимое на сайте:
    %b 25 минут
  #ga-visitors.t-main-chart
  
  %h2 Просмотры страниц
  %p
    Количество просмотров страниц на одного пользователя:
    %b &gt; 15
  #ga-pageviews.t-main-chart
  
  %h2 География: страны
  #ga-countries.t-main-chart
  
  %h2 География: города
  #ga-cities.t-main-chart
  
  %h2 Пол аудитории
  #ga-genders.t-main-chart
  
  %br
  %p
    Чтобы подробнее узнать о площадке, ознакомится с ценами на размещение и нашими возможностями, скачайте
    = succeed '.' do
      %a{:href => '/assets/adv/mediakit.pdf', :target => '_blank'} медиакит

  %p
    По всем вопросам, связанным с рекламой, можно писать по адресу
    = mail_to 'adv@mmm-tasty.ru', 'adv@mmm-tasty.ru', :encode => :javascript

:javascript
  jQuery(function() {
    var ga_visitors = new Highcharts.Chart({
      chart: {
        renderTo: 'ga-visitors',
        animation: false,
        height: 250
      },
      credits: { enabled: false },
      title: { text: null },
      legend: { enabled: false },
      xAxis: {
        labels: { step: 4 },
        categories: ['Мар', 'Мар', 'Мар', 'Мар', 'Апр', 'Апр', 'Апр', 'Апр', 'Май', 'Май', 'Май', 'Май', 'Июнь', 'Июнь', 'Июнь', 'Июнь', 'Июль', 'Июль', 'Июль', 'Июль', 'Авг', 'Авг', 'Авг', 'Авг', 'Сен', 'Сен', 'Сен']
      },
      yAxis: {
        title: { text: null },
        min: 0
      },
      series: [{
        name: 'Посетители',
        data: [71709, 96135, 90278, 76444, 61714, 57091, 55020, 61169, 62812, 65702, 67625, 71396, 70999, 70226, 69482, 67137, 67636, 68953, 75037, 79852, 80457, 86835, 88811, 97836, 103696, 103661]
      }]
    });
    
    var ga_pageviews = new Highcharts.Chart({
      chart: {
        renderTo: 'ga-pageviews',
        animation: false,
        height: 250
      },
      credits: { enabled: false },
      title: { text: null },
      legend: { enabled: false },
      xAxis: {
        labels: { step: 4 },
        categories: ['Мар', 'Мар', 'Мар', 'Мар', 'Апр', 'Апр', 'Апр', 'Апр', 'Май', 'Май', 'Май', 'Май', 'Июнь', 'Июнь', 'Июнь', 'Июнь', 'Июль', 'Июль', 'Июль', 'Июль', 'Авг', 'Авг', 'Авг', 'Авг', 'Сен', 'Сен', 'Сен']
      },
      yAxis: {
        title: { text: null },
        min: 0
      },
      series: [{
        name: 'Просмотры страниц',
        data: [3139844, 4005455, 4080872, 3960325, 4026279, 3910590, 3786858, 4036453, 3914018, 4116843, 4312953, 4671727, 4826768, 4511502, 4484543, 4221705, 3914608, 3695176, 3757861, 3977696, 3782174, 4206916, 4493576, 4875443, 4874589, 4478102]
      }]
    });
    
    var ga_countries = new Highcharts.Chart({
      chart: {
        renderTo: 'ga-countries',
        defaultSeriesType: 'pie',
        animation: false
      },
      credits: { enabled: false },
      title: { text: null },
      legend: { enabled: false },
      series: [{
        name: 'Страны',
        data: [
          ['Россия', 78.41], 
          ['Украина', 9.69], 
          ['Беларусь', 2.72], 
          ['Казахстан', 1.35], 
          { name: 'Другие', y: 7.82, color: '#cccccc' }
        ]  
      }]
    });

    var ga_cities = new Highcharts.Chart({
      chart: {
        renderTo: 'ga-cities',
        defaultSeriesType: 'pie',
        animation: false
      },
      credits: { enabled: false },
      title: { text: null },
      legend: { enabled: false },
      series: [{
        name: 'Города',
        data: [
          ['Москва', 20.99], 
          ['Санкт-Петербург', 11.90], 
          ['Красноярск', 5.27], 
          ['Казань', 3.22], 
          ['Киев', 2.72], 
          ['Новосибирск', 2.32], 
          ['Минск', 1.88], 
          ['Самара', 1.71], 
          ['Нижний Новгород', 1.59], 
          ['Екатеринбург', 1.50], 
          { name: 'Другие', y: 46.90, color: '#cccccc' }
        ]  
      }]
    });

    var ga_genders = new Highcharts.Chart({
      chart: {
        renderTo: 'ga-genders',
        defaultSeriesType: 'pie',
        animation: false
      },
      credits: { enabled: false },
      title: { text: null },
      legend: { enabled: false },
      series: [{
        name: 'Пол',
        data: [
          ['Женщины', 69.9],
          ['Мужчины', 30.1]
        ]  
      }]
    });
    
  });