- @title = 'Статистика посещений сайта'
- content_for :head do
  = tasty_include_javascripts :highcharts

- content_for :sidebar_right do
  = render :partial => 'adv_sidebar_right'

- content_for :sidebar_left do
  = render :partial => 'adv_sidebar_left'

.t-main-adv
  .entry_pagination.top_nav_paginator
    %a.entry_pagination_prev{:href => 'adv'} &larr; о рекламе

  %h2 Уникальные посетители
  %p
    Среднее время, проводимое на сайте:
    %b 25 минут
  #ga-visitors.t-main-chart
  
  %h2 Просмотры страниц
  %p
    Количество просмотров страниц на одного пользователя:
    %b &gt; 15
  #ga-pageviews.t-main-chart
  
  %h2 География, по странам
  %p Тейсти — преимущественно русскоязычный ресурс и большая часть наших пользователей находится в России и странах бывшего СНГ и говорят и пишут по-русски.
  #ga-countries.t-main-chart
  
  %h2 География, по городам
  %p
    Наши пользователи находятся по всей России, а основной костяк аудитории сконцентрирован в трех крупных городах:
    %b Москве,
    %b Петербурге
    и
    %b Красноярске.
  #ga-cities.t-main-chart
  
  %h2 Пол аудитории
  %p Тейсти — это сервис пользующийся огромной популярностью среди женской аудитории, её у нас около 80%. Большая часть из них либо учится в ВУЗ-е, либо в последних классах школы.
  #ga-genders.t-main-chart
  
  %br
  %p
    Чтобы подробнее узнать о площадке, ознакомится с ценами на размещение и нашими возможностями, скачайте
    = succeed '.' do
      %a{:href => '/assets/adv/mediakit.pdf', :target => '_blank'} медиакит

  %p
    По всем вопросам, связанным с рекламой, можно писать по адресу
    = mail_to 'adv@mmm-tasty.ru', 'adv@mmm-tasty.ru', :encode => :javascript

:javascript
  jQuery(function() {
    var ga_visitors = new Highcharts.Chart({
      chart: {
        renderTo: 'ga-visitors',
        animation: false,
        height: 250
      },
      credits: { enabled: false },
      title: { text: null },
      legend: { enabled: false },
      xAxis: {
        labels: { step: 4 },
        categories: ['Май', 'Май', 'Май', 'Июнь', 'Июнь', 'Июнь', 'Июнь', 'Июль', 'Июль', 'Июль', 'Июль', 'Авг', 'Авг', 'Авг', 'Авг', 'Сен', 'Сен', 'Сен', 'Сен', 'Окт', 'Окт', 'Окт', 'Окт', 'Ноя', 'Ноя', 'Ноя']
      },
      yAxis: {
        title: { text: null },
        min: 0
      },
      series: [{
        name: 'Посетители',
        data: [64442, 66382, 70226, 69482, 67137, 67636, 68953, 75037, 79852, 80457, 86835, 88811, 97836, 103696, 103661, 114074, 123089, 127581, 130222, 130059, 135354, 148250, 147591, 147982, 151687]
      }]
    });
    
    var ga_pageviews = new Highcharts.Chart({
      chart: {
        renderTo: 'ga-pageviews',
        animation: false,
        height: 250
      },
      credits: { enabled: false },
      title: { text: null },
      legend: { enabled: false },
      xAxis: {
        labels: { step: 4 },
        categories: ['Май', 'Май', 'Май', 'Июнь', 'Июнь', 'Июнь', 'Июнь', 'Июль', 'Июль', 'Июль', 'Июль', 'Авг', 'Авг', 'Авг', 'Авг', 'Сен', 'Сен', 'Сен', 'Сен', 'Окт', 'Окт', 'Окт', 'Окт', 'Ноя', 'Ноя', 'Ноя']
      },
      yAxis: {
        title: { text: null },
        min: 0
      },
      series: [{
        name: 'Просмотры страниц',
        data: [3997225, 4826768, 4511502, 4484543, 4221705, 3914608, 3695176, 3757861, 3977696, 3782174, 4206916, 4493576, 4875443, 4874589, 4478102, 4250322, 4162647, 4046743, 4148990, 4260719, 4508645, 4796133, 5134189, 5146046, 4997638]
      }]
    });
    
    var ga_countries = new Highcharts.Chart({
      chart: {
        renderTo: 'ga-countries',
        defaultSeriesType: 'pie',
        animation: false
      },
      credits: { enabled: false },
      title: { text: null },
      legend: { enabled: false },
      tooltip: {
        formatter: function() {
          return '<b>' + this.point.name + ':</b> ' + parseInt(this.percentage) + ' % от всех пользователей';
        }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer'
         }
      },
      series: [{
        name: 'Страны',
        data: [
          ['Россия', 75.87], 
          ['Украина', 10.94], 
          ['Беларусь', 2.88], 
          ['Казахстан', 1.51], 
          { name: 'Другие', y: 8.80, color: '#cccccc' }
        ]  
      }]
    });

    var ga_cities = new Highcharts.Chart({
      chart: {
        renderTo: 'ga-cities',
        defaultSeriesType: 'pie',
        animation: false
      },
      credits: { enabled: false },
      title: { text: null },
      legend: { enabled: false },
      tooltip: {
        formatter: function() {
          return '<b>' + this.point.name + ':</b> ' + parseInt(this.percentage) + ' % от всех пользователей';
        }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer'
         }
      },
      series: [{
        name: 'Города',
        data: [
          ['Москва', 22.23], 
          ['Санкт-Петербург', 10.59],
          ['Красноярск', 4.54], 
          ['Киев', 3.25], 
          ['Казань', 2.89], 
          ['Новосибирск', 2.41], 
          ['Минск', 1.91], 
          ['Самара', 1.62], 
          ['Екатеринбург', 1.60], 
          ['Нижний Новгород', 1.41], 
          { name: 'Другие', y: 47.55, color: '#cccccc' }
        ]  
      }]
    });

    var ga_genders = new Highcharts.Chart({
      chart: {
        renderTo: 'ga-genders',
        defaultSeriesType: 'pie',
        animation: false
      },
      credits: { enabled: false },
      title: { text: null },
      legend: { enabled: false },
      tooltip: {
        formatter: function() {
          return '<b>' + this.point.name + ':</b> ' + this.percentage + ' %';
        }
      },
      series: [{
        name: 'Пол',
        data: [
          { name: 'Женщины', y: 79.9 },
          { name: 'Мужчины', y: 20.1 }
        ]  
      }]
    });
    
  });