<% @message = conversation.messages.build %>

<%# this is used as an ajax content update anchor %>
<div id='new_message_placeholder'></div>

<%# this is used to get directly to the form %>
<a name='form'></a>
<% remote_form_for :message, @message, :url => user_url(current_site, messages_path).downcase, :before => 'submit_started();', :failure => 'submit_failure()', :complete => 'jQuery("#submitting").hide()' do |f| %>

  <div class='rel'>
	  <div class='message_sender'><%= link_to_tlog current_user %></div>
	</div>

	<div class='rel'>
	  <%= image_tag 'ajax-smaller-loader.gif', :size => '16x16', :alt => '', :title => '', :style => 'display: none', :id => 'submitting' %>
	</div>

  <%= tag :input, :name => 'message[recipient_url]', :type => 'hidden', :value => conversation.recipient.url %>
  <%= tag :input, :name => 'disable_ajax_refresh', :type => 'hidden', :value => '1' %>
  <%= tag :input, :name => 'disable_flash', :type => 'hidden', :value => '1' %>

  <%= f.text_area :body, :style => 'width: 450px; height: 6em' %>
  <%= tasty_error_message_on :message, :body %>
  
  <div class='message_submit'>
    <span>Теги запрещены, ссылки выделяются автоматически</span>
    <%= f.submit 'Отправить' %>
  </div>
<% end %>


<script type='text/javascript'>
  function submit_started() {
    jQuery('#submitting').show();
    jQuery('.submit_button input').attr('disabled', 'disabled');
  }
  
  function submit_failure() {
    jQuery('#submitting').hide();
    jQuery('.submit_button input').removeAttr('disabled');
    error_message_on('message_body', 'К сожалению, случилась серверная ошибка и ваше сообщение не было отправлено. Попробуйте повторить свою попытку позже.');
  }
  
  // focus immediately on page load
  jQuery(document).ready(function() { jQuery('#message_body').focus(); });
</script>