- show_datetime ||= false unless local_assigns.has_key?(:show_datetime) && show_datetime
- show_comments ||= false unless local_assigns.has_key?(:show_comments) && show_comments
.t-entry
  - content_tag :div, :id => dom_id(entry) do
    = render :partial => 'entries/display/anonymous_entry', :locals => { :entry => entry, :show_datetime => show_datetime }

  .t-entry-footer
    .t-entry-footer-ctl
      = content_tag :span, entry.rating.value > 0 ? "+#{entry.rating.value}" : entry.rating.value, :class => 't-entry-rating' if entry.is_voteable?
      = link_to entry.comments_count.zero? ? 'комментариев нет' : entry.comments_count.pluralize('комментарий', 'комментария', 'комментариев', true), service_url("/main/anonymous/show/#{entry.id}") if show_comments
