<%
# this is the message to show contents
show_message = conversation.last_message

# this is the metadata message
message = conversation.messages.last

%>

<% content_tag_for :div, conversation do %>

	<div class='rel'><div class='message_sender'>
    <div class='message_sender_link'><%= link_to_tlog conversation.recipient %></div>
    <%= timeago message.created_at %>
  </div></div>

  <% if conversation.is_replied? %>
    <div class='rel'><div class='reply'>
  	  <%= link_to image_tag('arrow_g.gif', :size => '10x10'), user_url(current_site, conversation_path(conversation)) + '#form' %>
    </div></div>
  <% end %>
  
  <% if !conversation.is_viewed? && !conversation.is_replied? %>
    <div class='rel'><div class='unviewed'>
  	  <%= link_to_remote image_tag('unread-conversation.png', :size => '8x8', :alt => '[n]'), { :url => user_url(current_site, mav_conversation_path(conversation)).downcase }, :title => 'Отметить как прочитанное' %>
  	</div></div>
  <% end %>

  <div class='conversation_controls showonhover'><div class='delete'>
      <%= link_to_remote image_tag('delete.gif', :size => '9x11', :alt => '[x]'), { :url => user_url(current_site, conversation_path(conversation)).downcase, :method => :delete }, :confirm => 'Действительно удалить всю переписку?' %>
  </div></div>

  <% content_tag :div, :class => 'body', :link => user_url(current_site, conversation_path(conversation)) do %>
    <% if show_message %>
      <%= simple_tasty_format(auto_link(h(show_message.body))) %>
    <% else %>
      <p class='italic'>Вы отправили сообщение, но <%= conversation.recipient.gender('он', 'она') %> на него пока не ответил<%= conversation.recipient.gender('', 'а') %></p>
    <% end %>
  <% end %>

  <!-- <div class='clear'><div></div></div>   -->

<% end %>