<div class='section' id='sidebar_conversations'>
  <h2><span>Переписки</span></h2>
	<div id='sidebar_conversations_content'>
	  <ul>
	    <li>
	      <p><%= link_to "все", service_url(conversations_path), :class => ('highlight' if params[:action] == 'index') %><%= "<sup>+#{current_user.unviewed_conversations_count}</sup>" if current_user.unviewed_conversations_count.nonzero? %></p>
	    </li>
      <!-- <li>
        <p><%= link_to "непросмотренные", service_url(unviewed_conversations_path), :class => ('highlight' if params[:action] == 'unviewed') %></p>
      </li> -->
	    <li>
	      <p><%= link_to "неотвеченные #{"(#{current_user.unreplied_conversations_count})" if current_user.unreplied_conversations_count.nonzero?}", service_url(unreplied_conversations_path), :class => ('highlight' if params[:action] == 'unreplied') %></p>
	    </li>
	    <li>
	      <p><%= link_to '+ написать', service_url(new_conversation_path), :class => ('highlight' if params[:action] == 'new') %></p>
	    </li>
	  </ul>
	</div>
</div>

<% unless current_user.tlog_settings.email_messages? %>
  <div class='section' id='sidebar_conversations_notification'>
    <h2><span>Настройки</span></h2>
    <div id='sidebar_conversations_content'>
      <p>
        Имейте ввиду, что в
        <%= link_to 'настройках почты', user_url(current_user, settings_path(:action => :email)) %>
        у вас выключена пересылка личных сообщений на емейл. Это значит, что новые сообщения
        не будут приходить к вам на емейл.
      </p>
    </div>
  </div>
<% end %>

<div class='sidebar_search'>
  <% content_tag :form, :method => 'get', :action => service_url(search_conversations_path) do %>
    <%= tag :input, :type => :search, :name => 'query', :value => params[:query], :tabindex => '0', :placeholder => 'Поиск по перепискам' %>
  <% end %>
</div>