<% @title = 'Новое сообщение' %>

<div class='header'>
  <h3><%= @title %></h3>

  <div class='rel'>
  	<div class='conversation_subscribe_controls'>
  		<%= link_to_function image_tag('letter.gif', :size => '17x15'), :id => 'subscribe_link', :style => @send_notifications ? "display: none" : "display: block", :title => 'подписаться на уведомления по почте' do |page|
  		  page << '$("message_send_notifications").value = "1";'
  		  page.toggle('subscribe_link', 'unsubscribe_link')
		  end
  		%>
  		<%= link_to_function image_tag('unletter.gif', :size => '17x15'), :id => 'unsubscribe_link', :style => @send_notifications ? "display: block" : "display: none", :title => 'отписаться от уведомления по почте' do |page|
  		  page << '$("message_send_notifications").value = "0";'
  		  page.toggle('subscribe_link', 'unsubscribe_link')
	    end
  		%>
  	</div>
  </div>
</div>

<% content_tag_for :div, @message do %>
  <% remote_form_for :message, @message, :url => user_url(current_site, messages_path).downcase, :before => 'submit_started()', :complete => 'jQuery("#submitting").hide()', :failure => 'submit_failure()' do |f| %>
    <input type='hidden' id='message_send_notifications' name='message[send_notifications]' value='<%= @send_notifications ? '1' : '0' %>' />

    <div class='message_recipient_block'>
      <label for='message_recipient_url'>Кому:</label>

    	<div class='rel'>
    	  <div class='message_sender' id='message_recipient' style='display: none'><a href='#' class='no_visited'></a></div>
    	</div>
    	
    	<div class='rel'>
    	  <%= image_tag 'ajax-smaller-loader.gif', :size => '16x16', :alt => '', :title => '', :style => 'display: none', :id => 'verifying' %>
    	</div>
    
      <div class='message_recipient'>
        <%= f.text_field :recipient_url, :style => 'width: 450px;', :tabindex => '1' %>
      
        <div class='subtext' id='message_recipient_subtext'>
          <span class='neutral' id='subtext_message'>Укажите имя пользователя которому хотите написать сообщение</span>
        </div>
      </div>
    </div>

    <div class='message_body_block'>
      <label for='message_body'>Сообщение:</label>

    	<div class='rel'>
    	  <div class='message_sender'><%= link_to_tlog current_user %></div>
    	</div>

      <div class='rel'>
        <%= image_tag 'ajax-smaller-loader.gif', :size => '16x16', :alt => '', :title => '', :style => 'display: none', :id => 'submitting' %>
      </div>

      <%= f.text_area :body, :style => 'width: 450px; height: 6em', :tabindex => '2' %>
      <%= tasty_error_message_on :message, :body %>
    </div>


    <div class='message_submit'>
      <span>Теги запрещены, ссылки выделяются автоматически</span>
      <div class='submit_button'>
        <%= f.submit 'Отправить', :tabindex => '0' %>
      </div>
    </div>
  <% end %>
<% end %>

<script type='text/javascript'>

  jQuery(function() {
    jQuery('#subscribe_link').twipsy({ placement: 'below' });
    jQuery('#unsubscribe_link').twipsy({ placement: 'below' });
  });

  function submit_started() {
    jQuery('#submitting').show();
    jQuery('.submit_button input').attr('disabled', 'disabled');
  }
  
  function submit_failure() {
    jQuery('#submitting').hide();
    jQuery('.submit_button input').removeAttr('disabled');
    error_message_on('message_body', 'К сожалению, случилась серверная ошибка и ваше сообщение не было отправлено. Попробуйте повторить свою попытку позже.');
  }  

  function observe_message_recipient_url(element, value) {
    <%= remote_function(:url => user_url(current_site, verify_recipient_conversations_path).downcase, :with => "'url=' + encodeURIComponent(value)", :before => 'jQuery("#verifying").show();', :complete => 'jQuery("#verifying").hide();') %>
  }

  <% if params[:url] %>
    jQuery(document).ready(function() { jQuery('#message_body').focus(); });
    observe_message_recipient_url($('message_recipient_url'), jQuery('#message_recipient_url').val());
  <% else %>  
    jQuery(document).ready(function() { jQuery('#message_recipient_url').focus(); });
  <% end %>
</script>

<%= observe_field 'message_recipient_url', :function => 'observe_message_recipient_url(element, value)' %>