<% @title = "Поиск в сообщениях" %>

<div class='onair convos'>
  <% content_tag :div, :class => 'messages' do %>
    <div class='header'>
      <h3>Поиск по сообщениям: <span class='highlight'><%= h(params[:query]) %></span></h3>
    </div>

    <% if @messages.total_entries.zero? %>
      <div class='centered'>
        <p>К сожалению, по вашему запросу не найдено ни одного сообщения.</p>

        <div class='linkback'>
          <%= link_to '&larr; вернуться', service_url(conversations_path) %>
        </div>
      </div>
    <% else %>
      <%= paginate @messages if @messages.current_page > 1 %>

      <%= render :partial => 'messages/message', :collection => @messages.compact, :spacer_template => 'messages/message_spacer' %>

      <%= paginate @messages %>
    <% end %>

  <% end %>
</div>
<script type='text/javascript'>
  jQuery(document).ready(function() {
    // enable hover stuff
    jQuery(".message", jQuery('div.messages')[0]).live({
      mouseenter: function() {
        jQuery(this).find('.showonhover').show();

        return false;
      },
      mouseleave: function() {
        jQuery(this).find('.showonhover').hide();

        return false;
      }
    });

    jQuery('abbr.timeago').timeago();
  });
</script>

<% content_for :sidebar_right do %>
  <%= render :partial => 'main/my_sidebar_right' %>  
  <%= render :partial => 'conversations/sidebar' %>
<% end %>
