<% @title = "Переписка между вами и #{h @conversation.recipient.url}" %>

<% content_tag :div, :class => 'messages' do %>
  <div class='header'>
    <div class='rel'>
      <div class='return'><%= link_to '&larr; все переписки', user_url(current_site, conversations_path) %></div>
    </div>

    <h3><span class='gray'>Переписка между вами и </span><span class='highlight'><%= @conversation.recipient.url %></span></h3>

    <div class='rel'>
    	<div class='conversation_subscribe_controls'>
    		<%= link_to_remote image_tag('letter.gif', :size => '17x15'), { :url => user_url(current_site, subscribe_conversation_path(@conversation)).downcase }, :id => 'subscribe_link', :style => "display: #{@conversation.send_notifications? ? 'none' : 'block'}", :title => 'подписаться новые сообщение' %>
    		<%= link_to_remote image_tag('unletter.gif', :size => '17x15'), { :url => user_url(current_site, unsubscribe_conversation_path(@conversation)).downcase }, :id => 'unsubscribe_link', :style => "display: #{@conversation.send_notifications? ? 'block' : 'none'}", :title => 'отписаться от новых сообщений' %>
    	</div>
    </div>
  </div>

  <%= paginate @messages %>

	<%= render :partial => 'messages/message', :collection => @messages.reverse, :spacer_template => 'messages/message_spacer' %>

  <%= render :partial => 'messages/message_spacer' %>

  <%= render :partial => 'messages/form', :locals => { :conversation => @conversation } if @messages.current_page == 1 %>

  <%= paginate @messages if @messages.current_page > 1 %>
<% end %>

<script type='text/javascript'>
  jQuery(document).ready(function() {
    // enable hover stuff
    jQuery(".message", jQuery('div.messages')[0]).live({
      mouseenter: function() {
        jQuery(this).find('.showonhover').show();

        return false;
      },    
      mouseleave: function() {
        jQuery(this).find('.showonhover').hide();

        return false;
      }
    });
    
    jQuery('abbr.timeago').timeago();
  });
</script>