%h4
  Profile of
  = link_to @user.url, user_url(@user)
  - if @user.is_disabled?
    %span.label.label-important disabled
  - if @user.is_premium?
    %span.label.label-info premium
%br

.row
  .span6
    %h5 basic details
    %dl.dl-horizontal
      %dt uid
      %dd= @user.id

      %dt gender
      %dd= @user.gender

      %dt username
      %dd= h @user.username

      %dt email
      %dd= @user.email
      
      %dt registered
      %dd
        = @user.created_at.to_s(:db)
        = surround '(', ')' do
          = time_ago_in_words @user.created_at
          ago
  
      %dt entries count
      %dd
        = @user.entries_count
        = surround '(', ')' do
          = @user.private_entries_count
          private
  
      %dt updated at
      %dd
        - if @user.entries_updated_at
          = @user.entries_updated_at.to_s(:db)
          = surround '(', ')' do
            = time_ago_in_words @user.entries_updated_at
            ago
        - else
          —

    %h5 premium
    %dl.dl-horizontal
      %dt premium?
      %dd
        = @user.is_premium?
        -# %em
        -#   %a{:href => '#'} gift 1 month
  
      - if @user.is_premium?
        %dt till
        %dd
          = @user.premium_strftime
          = surround '(', ')' do
            = @user.premium_days_left
            days left

    %h5 invites
    %dl.dl-horizontal
      - if @user.invitation
        %dt invited by
        %dd= link_to @user.invitation.user.url, console_user_path(@user.invitation.user)
  
      %dt invitations
      %dd
        %span.badge#c-invitations-cnt{:class => @user.invitations_left.zero? ? nil : 'badge-success'}= @user.invitations_left
        &mdash;
        %a.c-act.c-act-invitations-inc{:href => '#', :data => { :id => @user.id }} inc
        |
        %a.c-act.c-act-invitations-dec{:href => '#', :data => { :id => @user.id }} dec
  
      %dt invitees
      %dd
        - if @user.invitations.count.nonzero?
          - @user.invitations.each do |invitation|
            - if invitation.invitee
              = link_to '@' + invitation.invitee.url, console_user_path(invitation.invitee)
            - else
              = invitation.email
        - else
          —  

    %h5 relations
    %dl.dl-horizontal
      %dt linked with
      %dd
        - if @user.linked_accounts.any?
          - @user.linked_accounts.each do |user|
            = link_to '@' + user.url, console_user_path(user)
        - else
          —

      %dt subscribed to
      %dd= @user.all_friend_ids.count
  
      %dt subscribers
      %dd= @user.listed_me_as_all_friend_light_ids.count
  
      %dt blacklist
      %dd
        -if @user.blacklist.any?
          - @user.blacklist.each do |user|
            = link_to '@' + user.url, console_user_path(user)
        - else
          —
  
      %dt blacklised by
      %dd
        -if @user.listed_me_as_blacklist_light.any?
          - @user.listed_me_as_blacklist_light.each do |uid|
            - user = User.find(uid)
            = link_to '@' + user.url, console_user_path(user)
        - else
          —
    

    %h5 status
    %dl.dl-horizontal
      %dt confirmed?
      %dd
        %span.label{:class => @user.is_confirmed? ? 'label-success' : 'label-important' }= @user.is_confirmed?

      %dt enabled?
      %dd
        %span.label{:class => @user.is_disabled? ? 'label-important' : 'label-success' }= !@user.is_disabled?
        - if @user.is_disabled?
          = surround '(', ')' do
            = succeed ',' do
              = @user.disabled_at.to_s(:db)
            = time_ago_in_words @user.disabled_at
            назад
    

      %dt mainpageable?
      %dd
        %span.label{:class => @user.is_mainpageable? ? 'label-success' : 'label-important' }= @user.is_mainpageable?
        %em
          - if @user.is_mainpageable?
            %a.c-act.c-act-user-mprevoke{:href => '#', :data => { :id => @user.id }} ban
          - else
            %a.c-act.c-act-user-mpgrant{:href => '#', :data => { :id => @user.id }} unban


      %dt c clean?
      %dd
        - if $redis.sismember('comments:blacklist', @user.id)
          %span.label.label-important banned
          %em
            %a.c-act-cgrant{:href => '#'} unban
        - else
          %span.label.label-success true
          %em
            %a.c-act-crevoke{:href => '#'} ban

      %dt ac clean?
      %dd
        - if @user.ban_ac_till && @user.ban_ac_till > Time.now
          %span.label.label-important banned
          = surround '(', ')' do
            till
            = @user.ban_ac_till.to_s(:db)
        - elsif @user.ban_ac_till
          %span.label.label-warning was banned
          = surround '(', ')' do
            = time_ago_in_words @user.ban_ac_till
            ago
      
        - else
          %span.label.label-success true

  .span6
    %h5 userpic
    %br
    .well
      - if @user.userpic?
        = link_to image_tag(@user.userpic.url(:thumb128)), @user.userpic.url(:original)
      - else
        none set

    %h5 history
    %br
    %p not yet implemented

.row
  .span12
    %hr
  
.row
  - unless @user.is_disabled?
    .span10
      %strong Note:
      disabling usually takes some time. Comments and entries are not removed.
    
    .span2.pull-right
      %a.btn.btn-danger.c-act-user-disable{:href => '#', :data => { :id => @user.id }}
        Disable
        = '@' + @user.url
  - else
    .span2
      %a.btn.btn-success.c-act-user-restore{:href => '#', :data => { :id => @user.id }}
        %i.icon-repeat.icon-white
        Restore
      
    .span8
      &nbsp;
    
    .span2.pull-right
      %a.btn.btn-danger.c-act-user-destroy.disabled
        %i.icon-trash.icon-white
        Remove account
