%h4
  Profile of #{@user.url}
  - if @user.is_disabled?
    %span.label.label-important disabled
  - if @user.is_premium?
    %span.label.label-info premium
%br

.row
  .span6
    %h5
      basic details
      = link_to 'view tlog', user_url(@user), :class => 'c-act'
    %dl.dl-horizontal
      %dt uid
      %dd= @user.id

      %dt gender
      %dd= @user.gender

      %dt username
      %dd= h @user.username

      %dt email
      %dd= hide_email @user.email
      
      %dt registered
      %dd
        = @user.created_at.to_s(:db)
        = surround '(', ')' do
          = time_ago_in_words @user.created_at
          ago
    
      %dt updated
      %dd
        - if @user.entries_updated_at
          = @user.entries_updated_at.to_s(:db)
          = surround '(', ')' do
            = time_ago_in_words @user.entries_updated_at
            ago
        - else
          —

    %h5 premium
    %dl.dl-horizontal
      %dt premium?
      %dd
        = @user.is_premium?
        -# %em
        -#   %a{:href => '#'} gift 1 month
  
      - if @user.is_premium?
        %dt till
        %dd
          = @user.premium_strftime
          = surround '(', ')' do
            = @user.premium_days_left
            days left

    %h5 invites
    %dl.dl-horizontal
      - if @user.invitation
        %dt invited by
        %dd= link_to '@' + @user.invitation.user.url, console_user_path(@user.invitation.user)
  
      %dt invitations
      %dd
        %span.badge#c-invitations-cnt{:class => @user.invitations_left.zero? ? nil : 'badge-success'}= @user.invitations_left
        &mdash;
        %a.c-act.c-act-invitations-inc{:href => '#', :data => { :id => @user.id }} inc
        |
        %a.c-act.c-act-invitations-dec{:href => '#', :data => { :id => @user.id }} dec
  
      %dt invitees
      %dd
        - if @user.invitations.count.nonzero?
          - @user.invitations.each do |invitation|
            - if invitation.invitee
              = link_to '@' + invitation.invitee.url, console_user_path(invitation.invitee)
            - else
              = invitation.email
        - else
          —  

    %h5 relations
    %dl.dl-horizontal
      %dt linked with
      %dd
        - if @user.linked_accounts.any?
          - @user.linked_accounts.each do |user|
            = link_to '@' + user.url, console_user_path(user)
        - else
          —

      %dt subscribed to
      %dd= @user.all_friend_ids.count
  
      %dt subscribers
      %dd= @user.listed_me_as_all_friend_light_ids.count
  
      %dt blacklist
      %dd
        -if @user.blacklist.any?
          - @user.blacklist.each do |user|
            = link_to '@' + user.url, console_user_path(user)
        - else
          —
  
      %dt blacklised by
      %dd
        -if @user.listed_me_as_blacklist_light.any?
          - @user.listed_me_as_blacklist_light.each do |uid|
            - user = User.find(uid)
            = link_to '@' + user.url, console_user_path(user)
        - else
          —
    

    %h5 status
    %dl.dl-horizontal
      %dt confirmed?
      %dd
        %span.label{:class => @user.is_confirmed? ? 'label-success' : 'label-important' }= @user.is_confirmed?
        - unless @user.is_confirmed?
          %a.c-act{:href => '#confirm', :data => {:toggle => 'modal'}} confirm

      %dt enabled?
      %dd
        %span.label{:class => @user.is_disabled? ? 'label-important' : 'label-success' }= !@user.is_disabled?
        - if @user.is_disabled?
          = surround '(', ')' do
            = succeed ',' do
              = @user.disabled_at.to_s(:db)
            = time_ago_in_words @user.disabled_at
            назад
    

      %dt mainpageable?
      %dd
        %span.label{:class => @user.is_mainpageable? ? 'label-success' : 'label-important' }= @user.is_mainpageable?
        %em
          - if @user.is_mainpageable?
            %a.c-act{:href => '#mprevoke', :data => {:toggle => 'modal'}} ban
          - else
            %a.c-act{:href => '#mpgrant', :data => {:toggle => 'modal'}} unban


      %dt c clean?
      %dd
        - if @user.is_c_banned?
          %span.label.label-important banned
          осталось: 
          %span{:title => @user.ban_c_till.to_s(:db)}= @user.c_ban_days_left.pluralize('день', 'дня', 'дней', true)
        - elsif @user.ban_c_till
          %span.label.label-warning was banned
          = surround '(', ')' do
            = time_ago_in_words @user.ban_c_till
            ago
    
        - else
          %span.label.label-success true
      
        %em
          %a.c-act{:href => '#c-change', :data => {:toggle => 'modal'}} change

      %dt ac clean?
      %dd
        - if @user.is_ac_banned?
          %span.label.label-important banned
          осталось: 
          %span{:title => @user.ban_ac_till.to_s(:db)}= @user.ac_ban_days_left.pluralize('день', 'дня', 'дней', true)
        - elsif @user.ban_ac_till
          %span.label.label-warning was banned
          = surround '(', ')' do
            = time_ago_in_words @user.ban_ac_till
            ago
      
        - else
          %span.label.label-success true
        
        %em
          %a.c-act{:href => '#ac-change', :data => {:toggle => 'modal'}} change

  .span6
    %h5 userpic
    %br
    .well.well-small
      - if @user.userpic?
        = link_to image_tag(@user.userpic.url(:thumb128)), @user.userpic.url(:original)
      - else
        none set

    %h5 content
    %dl.dl-horizontal
      %dt entries
      %dd
        = @user.entries_count
        = surround '(', ')' do
          = @user.private_entries_count
          private
      
      %dt convos
      %dd= @user.conversations_count
      
      %dt faves
      %dd= @user.faves_count
      
      %dt comments
      %dd
        = @comments_enabled_count
        = surround '(', ')' do
          = @comments_disabled_count
          disabled
        - if @user.is_disabled? && @comments_enabled_count.nonzero?
          %a.btn.btn-danger.btn-mini{:href => '#wipeout', :data => {:toggle => 'modal'}}
            %i.icon-trash.icon-white
            wipe out
            
      
      %dt suspect
      %dd
        - if @suspect_count.zero?
          innocent
        - else
          = link_to "on #{@suspect_count.pluralize('comment', 'comments', 'comments', true)}", suspect_console_user_path(@user), :class => 'c-act'
        
      %dt reporter
      %dd
        - if @reports_count.zero?
          innocent
        - else
          = link_to "on #{@reports_count.pluralize('comment', 'comments', 'comments', true)}", reporter_console_user_path(@user), :class => 'c-act' 

    %h5
      changelog
      = link_to 'view all', changelogs_console_user_path(@user), :class => 'c-act'
    %br
    %table.table.table-striped.table-bordered
      %tbody
        - @changelogs.each do |changelog|
          %tr
            %td= changelog.action
            %td= h changelog.comment
            %td
              - if changelog.actor
                = link_to '@' + changelog.actor.url, console_user_path(changelog.actor)
              - else
                —
            %td
              %span{:title => changelog.created_at.to_s(:db)}
                = time_ago_in_words changelog.created_at, true
                ago

    %ul.pager
      %li.next
.row
  .span12
    %hr
  
.row
  - unless @user.is_disabled?
    .span10
      %strong Note:
      disabling usually takes some time. Comments and entries are not removed.
    
    .span2.pull-right
      %a.btn.btn-danger{:href => '#disableAccount', :data => {:toggle => 'modal'}}
        Disable
        = '@' + @user.url
  - else
    .span2
      %a.btn.btn-success{:href => '#restore', :data => {:toggle => 'modal'}}
        %i.icon-repeat.icon-white
        Restore
      
    .span8
      &nbsp;
    
    .span2.pull-right
      %a.btn.btn-danger{:href => '#removeAccount', :data => {:toggle => 'modal'}}
        %i.icon-trash.icon-white
        Remove account


.modal.hide.fade#c-change
  .modal-header
    %button.close{:type => 'button', :data => {:dismiss => 'modal'}} ×
    %h3 Запрет на комментирование

  .modal-body
    - cdl = @user.c_ban_days_left
    - if @user.is_c_banned?
      %p
        До автоматического снятия бана осталось
        %strong{:title => @user.ban_c_till.to_s(:db)}= cdl.pluralize('день', 'дня', 'дней', true)
    - else
      %p Пользователь не забанен.

    %fieldset.control-group
      %label{:for => 'c-change-duration'} Укажите длительность бана:

      %input.span5#c-change-duration{:type => 'range', :min => '0', :max => '365', :value => cdl}

    %p
      Новая длительность бана (с текущего момента):
      %span.badge#c-change-duration-value{:class => classes(['badge-success', cdl.zero?], ['badge-important', cdl > 0])}= cdl

  .modal-footer
    %a.btn{:href => '#', :data => {:dismiss => 'modal'}} Отменить
    %a.btn.c-act-c-change{:href => '#', :class => classes(['btn-success', cdl.zero?], ['btn-danger', cdl > 0]), :data => { :id => @user.id, 'loading-text' => 'Сохраняем ...' }}
      %i.icon-ban-circle.icon-white
      - if cdl.zero?
        Снять бан
      - else
        Установить


.modal.hide.fade#ac-change
  .modal-header
    %button.close{:type => 'button', :data => {:dismiss => 'modal'}} ×
    %h3 Бан в анонимках

  .modal-body
    - if @user.is_ac_banned?
      %p
        До автоматического снятия бана осталось
        %strong{:title => @user.ban_ac_till.to_s(:db)}= @user.ac_ban_days_left.pluralize('день', 'дня', 'дней', true)
    - else
      %p Пользователь не забанен.

    %fieldset.control-group
      %label{:for => 'ac-change-duration'} Укажите длительность бана:

      %input.span5#ac-change-duration{:type => 'range', :min => '0', :max => '365', :value => @user.ac_ban_days_left}

    %p
      Новая длительность бана (с текущего момента):
      %span.badge#ac-change-duration-value{:class => classes(['badge-success', @user.ac_ban_days_left.zero?], ['badge-important', @user.ac_ban_days_left > 0])}= @user.ac_ban_days_left

  .modal-footer
    %a.btn{:href => '#', :data => {:dismiss => 'modal'}} Отменить
    %a.btn.c-act-ac-change{:href => '#', :class => classes(['btn-success', @user.ac_ban_days_left.zero?], ['btn-danger', @user.ac_ban_days_left > 0]), :data => { :id => @user.id, 'loading-text' => 'Сохраняем ...' }}
      %i.icon-ban-circle.icon-white
      - if @user.ac_ban_days_left.zero?
        Снять бан
      - else
        Установить


.modal.hide.fade#confirm
  .modal-header
    %button.close{:type => 'button', :data => {:dismiss => 'modal'}} ×
    %h3 Подтвердить аккаунт
  
  .modal-body
    %p Пожалуйста, убедитесь, что указанный пользователем емейл — правильный. А когда смените пароль, не забудьте сообщить пользователю его новое значение.

    .alert.alert-error.hide
      %a.close{:href => '#', :data => {:dismiss => 'alert'}} ×
      %strong Ошибка.
      Пароль должен быть не короче 6 символов

    %fieldset.control-group
      %label{:for => 'confirm-password'} Введите новый пароль:

      %input.span4#confirm-password{:type => 'password'}
  
  .modal-footer
    %a.btn{:href => '#', :data => {:dismiss => 'modal'}} Отменить
    %a.btn.btn-success.c-act-user-confirm{:href => '#', :data => { :id => @user.id, 'loading-text' => 'Подтверждаем ...' }}
      %i.icon-ok.icon-white
      Подтвердить почту

.modal.hide.fade#mprevoke
  .modal-header
    %button.close{:type => 'button', :data => {:dismiss => 'modal'}} ×
    %h3 Запретить попадать на главную

  .modal-body
    %p Все существующие посты будут удалены их главных лент сайта, прямого эфира, лучшего и пр.
    
    %p Записи пользователя будут видеть только заходящие к нему в тлог или подписанные на него.

    .alert.alert-error.hide
      %a.close{:href => '#', :data => {:dismiss => 'alert'}} ×
      %strong Ошибка.
      Это поле не может быть пустым.

    %fieldset.control-group
      %label{:for => 'mprevoke-comment'} Пожалуйста, укажите причину:

      %textarea.comment#mprevoke-comment

  .modal-footer
    %a.btn{:href => '#', :data => {:dismiss => 'modal'}} Отменить
    %a.btn.btn-danger.c-act-user-mprevoke{:href => '#', :data => { :id => @user.id, 'loading-text' => 'Запрещаем ...' }}
      %i.icon-remove.icon-white
      Запретить      

.modal.hide.fade#mpgrant
  .modal-header
    %button.close{:type => 'button', :data => {:dismiss => 'modal'}} ×
    %h3 Вернуть доступ к главной

  .modal-body
    %p
      Снимает ограничение на доступ к главной странице
    
    %p
      %strong Важно.
      Старые посты не будут заново добавлены в ленту и ограничение не будет распространяться только на новые записи.

    .alert.alert-error.hide
      %a.close{:href => '#', :data => {:dismiss => 'alert'}} ×
      %strong Ошибка.
      Это поле не может быть пустым.

    %fieldset.control-group
      %label{:for => 'mpgrant-comment'} Пожалуйста, укажите причину:

      %textarea.comment#mpgrant-comment

  .modal-footer
    %a.btn{:href => '#', :data => {:dismiss => 'modal'}} Отменить
    %a.btn.btn-success.c-act-user-mpgrant{:href => '#', :data => { :id => @user.id, 'loading-text' => 'Снимаем ограничение ...' }}
      %i.icon-ok.icon-white
      Снять ограничение      

- if @user.is_disabled?
  .modal.hide.fade#restore
    .modal-header
      %button.close{:type => 'button', :data => {:dismiss => 'modal'}} ×
      %h3 Confirm restore
  
    .modal-body
      .alert.alert-error.hide
        %a.close{:href => '#', :data => {:dismiss => 'alert'}} ×
        %strong You need to type something here.

      %fieldset.control-group
        %label{:for => 'restore-comment'} Please, provide reason for restoring:
      
        %textarea.comment#restore-comment
  
    .modal-footer
      %a.btn{:href => '#', :data => {:dismiss => 'modal'}} Close
      %a.btn.btn-success.c-act-user-restore{:href => '#', :data => { :id => @user.id, 'loading-text' => 'Restoring ...' }}
        %i.icon-repeat.icon-white
        Restore

  .modal.hide.fade#wipeout
    .modal-header
      %button.close{:type => 'button', :data => {:dismiss => 'modal'}} ×
      %h3 Confirm comments wipeout
    
    .modal-body
      %p
        This will disable all comments created by @#{@user.url} during his lifetime.
      
      %p
        In total, we will remove #{@comments_enabled_count} comments, but will start with reported ones first.
    
    .modal-footer
      %a.btn{:href => '#', :data => {:dismiss => 'modal'}} Close
      %a.btn.btn-danger.c-act-user-wipeout{:href => '#', :data => { :id => @user.id, 'loading-text' => 'Running ...' }}
        %i.icon-trash.icon-white
        Confirm wipeout
    

  .modal.hide.fade#removeAccount
    .modal-header
      %button.close{:type => 'button', :data => {:dismiss => 'modal'}} ×
      %h3 Please, confirm removal
    
    .modal-body
      %p
        %strong Please note
        that removing account will destroy everything related to this account without
        a single change of being restored.
      
      %p
        By clicking "confirm removal" you approve that you understand the consequences of
        this action and you are sure this user deserves complete removal from our system.
      
      %p
        Amen.
      
      .alert.alert-error.hide
        %a.close{:href => '#', :data => {:dismiss => 'alert'}} ×
        %strong You need to type something here.

      %fieldset.control-group
        %label{:for => 'removeAccount-comment'} Please, provide reason for disabling:

        %textarea.comment#removeAccount-comment
      
    
    .modal-footer
      %a.btn{:href => '#', :data => {:dismiss => 'modal'}} Close
      %a.btn.btn-danger.c-act-user-destroy{:href => '#', :data => { :id => @user.id, 'loading-text' => 'Removing ...' }}
        %i.icon-trash.icon-white
        Confirm removal

- else
  .modal.hide.fade#disableAccount
    .modal-header
      %button.close{:type => 'button', :data => {:dismiss => 'modal'}} ×
      %h3 Please, confirm disabling
    
    .modal-body
      %p
        %strong Please, confirm
        that you want to disable account of
        %strong= '@' + @user.url
        without him being able to restore or complain.
      
      %p Note: no user content is removed during this step.
        
      .alert.alert-error.hide
        %a.close{:href => '#', :data => {:dismiss => 'alert'}} ×
        %strong You need to type something here.

      %fieldset.control-group
        %label{:for => 'disableAccount-comment'} Please, provide reason for disabling:
      
        %textarea.comment#disableAccount-comment
      
    
    .modal-footer
      %a.btn{:href => '#', :data => {:dismiss => 'modal'}} Close
      %a.btn.btn-danger.c-act-user-disable{:href => '#', :data => { :id => @user.id, 'loading-text' => 'Disabling ...' }}
        %i.icon-trash.icon-white
        Confirm disable
