<%-
  anonymous_entry = @entry.is_anonymous?
  is_author = comment.user_id == @entry.user_id
  is_anonymous_author = AnonymousEntry::ANONYMOUS_COMMENTS_DEPLOY_TIME < comment.created_at && anonymous_entry && is_author
-%>
<a name="t-entry-comment<%= comment.id %>"></a>
<%= "<a name='new'></a>" if @last_comment_viewed == (@comments || @entry.comments).index(comment) %>
<div class="t-comment<%= ' t-comment-new' if @last_comment_viewed <= (@comments || @entry.comments).index(comment) %><%= ' t-comment-by-anonymous' if is_anonymous_author %>" id="<%= dom_id(comment) %>">
  <div class='t-comment-avatar'>
		<%= link_to(avatar_tag(comment.user, :width => 32, :height => 32, :blank => true), user_url(comment.user)) if !is_anonymous_author && !comment.user.nil? && comment.user.avatar %>
  </div>

	<div class='t-comment-body'>
	  <div class='t-comment-meta'>
  	  <span class='t-comment-username'><%= is_anonymous_author ? 'аноним' : link_to_comment_author(comment, current_site && comment.user_id == current_site.id) %></span>
  	  <span class='t-comment-time' title='<%= comment.created_at.to_timestamp_s %>'><%= say_time_in_words(comment.created_at) %></span>
    </div>
    <div class='t-comment-comment'>
  		<%= white_list_entry(comment.comment, :flash_width => '220') %>
  	</div>
	</div>
</div>