<% cache "#{current_service.domain}/#{current_site.url}/sidebar_sections", :expires_in => 1.day do %>
  <% current_site.sidebar_sections.each do |section| %>
    <div class='sidebar_section' id='<%= section.dom_id %>'>
      <%= link_to_function h(section.name), "sidebar_toggle('section_#{section.id}')", :class => "sidebar_toggle #{'highlight' if section.is_open?}", :id => section.dom_id(nil, :link) %>
      <div class='sidebar_section_content' id='<%= section.dom_id(nil, :content) %>' <%= ' style="display: none"' unless section.is_open? %>>
        <% section.elements.each do |element| %>        
          <p><%= render :partial => element.template_path, :locals => { :element => element } %></p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
