<div class="sidebar_section" id='sidebar_avatar'>
  <div class='sidebar_section_content' id='sidebar_avatar_content'>
    <%# FIXME: man, what the hell is this? it has to be optimized / refactored or something ... %>
    <% if current_site.userpic? %>
      <% style = current_site.tlog_design_settings.large_userpic? ? :thumb128 : :thumb64 %>
      <%#= content_tag(:div, 'pro', :class => 't-avatar-badge-pro') %>
      <%= link_to image_tag(current_site.userpic.url(style), :size => current_site.userpic.image_size(style), :alt => current_site.url, :title => current_site.url, :class => 'avatar'), image_path(current_site.userpic.url(:large)), :class => 'fancybox', :rel => 'follow', :title => current_site.url %>
    <% else %>
      <%= userpic_tag(current_site) %>
    <% end %>
    
    <% if current_user && !is_owner? %>
      <%# код из _relationship.rhtml, один в один %>
      <%- relationship = current_user.relationship_with(current_site, true) -%>
      <div id='sidebar_relationship'<%= ' class="subscribed"' if relationship.friendship_status >= Relationship::DEFAULT %>>
        <%= link_to_remote relationship.say_it(current_site, current_user), :url => user_url(current_site, relationship_entries_path).downcase -%>
        <%#= link_to image_tag('pref.gif'), user_url(current_site, global_path(:action => :relationship)).downcase, :class => 'fancybox hover' %>
      </div>
    <% elsif !current_user %>
      <div id='sidebar_relationship'>
        <%= link_to "Подписаться на #{current_site.gender('его', 'её')} тлог", service_url(login_path), :title => 'Зарегистрируйтесь или войдите, чтобы подписаться', :id => 'anonymous_follow_link' %>
      </div>
    <% end %>
  </div>
</div>
<script type='text/javascript'>
  jQuery(function() {
    jQuery('#anonymous_follow_link').twipsy({ offset: 5, placement: 'below' });
  });
</script>
