<!DOCTYPE>
<html>
  <body lang="ru" style="padding: 30px 20px 50px 30px; margin: 0; background-color: #ffffff;">
    <p style="font-family: Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040; padding-bottom: 2em;">
      <b>Здравствуйте, <%= h @user.username %>!</b>
    </p>
    
    <p style="font-family: 'Trebuchet MS', Arial, sans-serif; font-size:0.95em; width:600px; color:#404040; padding-bottom: 1em;">
      Уведомляем вас, что для соответствия правилам предоставления сервиса, ваш тлог был автоматически
      переименован из <%= h @user.url %> в <%= h @nrl %>.
    </p>

    <p style="font-family: 'Trebuchet MS', Arial, sans-serif; font-size:0.90em; width:600px; color:#ccc; padding-bottom: 1em;">
      Это автоматичекое уведомление и на него не нужно отвечать.
    </p>

    <p style="font-family: 'Trebuchet MS', Arial, sans-serif; font-size:0.95em; width:600px; color:#404040; text-align:right;">
      C уважением, <a href="<%= service_url %>" target="_blank" style="border: 0px;"><img src="<%= service_url %>images/letter-logo.gif" width='101' height='27' style="position:relative; bottom:-6px;  margin-left:4px;" /></a>
    </p>
  </body>
</html>
