!!! 5
%html{:lang => 'ru'}
  %head
    = application_title
    %meta{:charset => 'utf8'}
    %meta{:robots => 'index,follow'}
    %meta{'http-equiv' => 'imagetoolbar', :content => 'no'}
    %link{:rel => 'shortcut icon', :href => image_path('specials/fany/favicon.ico')}
    
    = stylesheet_link_tag 'specials/fany/general.css', 'specials/fany/candy.css'
    = tasty_include_javascripts :specials
    = javascript_include_tag 'specials/fany/libs.min.js', 'specials/fany/candy.min.js'
    
    :javascript
      jQuery(document).ready(function() {
        Candy.init('http-bind/', {
          core: {
            debug: true
            autojoin: ['Прямой эфир', @city]
          },
          view: { resources: '/images/specials/fany/' }
        });
      
        Candy.Core.connect();
      });

  %body
  
    #wrapper
      .top
        .btm-sh-top
        .top-i
          - if current_user
            .b-who= link_to_tlog current_user

          .b-logotype
            = link_to image_tag('specials/fany/tasty.png', :alt => 'Mmm... Tasty'), '/'

          %ul.b-navigation
            %li
              %a{:href => '/main/about'} О проекте
            %li
              %a{:href => '/main/news'} Новости
            %li
              %a{:href => '/main/last'} Лучшее
            %li
              %a{:href => '/main/anonymous'} Анонимки
            - if current_user
              %li
                %a{:href => '/main/my'} Моё
            %li
              %a{:href => '/main/live'} Прямой эфир
            %li
              %a{:href => '/main/random'} День из жизни

      .middle
        #candy
  
    = render :partial => 'globals/counters' if Rails.env.production?