- @title = 'свой фон на главной'
- content_for :header do
  Свой фон на главной

.t-premium-backgrounds
  %p С этой страницы вы можете установить один из предложенных нами вариантов фона, либо загрузить и установить свой, а также выбрать цвет логотипа на главной странице.
  
  %h2 Выберите фон
  .backgrounds
    - @backgrounds.each do |b|
      - is_selected   = b.id == current_site.tlog_settings.background_id
      .background{:class => classes(['selected', is_selected], ['t-act-background-change', !is_selected]), :style => "background: url('#{b.image.url}') repeat;", :data => {:action => user_url(current_site, settings_premium_path(:action => :background)), :id => b.id, :image => b.image.url, :deletable => b.is_public? ? nil : 'deletable' }}
        - unless b.is_public?
          .delete= image_tag 'icon_x.png', :alt => 'Удалить изображение'
        .note-current Текущий фон
        .note-set Выбрать этот фон

    .clear
      %div
    = link_to '+ добавить', user_url(current_site, settings_premium_path(:action => 'background_popup')), :id => 'fancybox_link_background'
  
  %h2 Цвет логотипа
  .logo_color
    %label
      %input{ :type => 'radio', :name => 'gray_logo', :checked => @gray_logo ? false : true , :value => 0, :data => { :action => user_url(current_site, settings_premium_path(:action => :change_logo_color)) } }
      белый
    &nbsp;
    %label
      %input{ :type => 'radio', :name => 'gray_logo', :checked => @gray_logo ? true : false, :value => 1, :data => { :action => user_url(current_site, settings_premium_path(:action => :change_logo_color)) } }
      серый

  %h2 Предпросмотр
  .preview{:style => current_site.tlog_settings.background ? nil : (Background.public.first ? "background: url('#{Background.public.first.image.url}') repeat;" : nil)}
    .title
      = image_tag @gray_logo ? current_service.logo : current_service.logo(:white), :alt => 'тейсти'
      .subtitle
        Будьте собой, %username%!
    
    .menu
      %span Новости
      %span Лучшее
      %span Мое
      %span.selected Прямой эфир
      %span День из жизни
    .content
      .entry.text
        .rel
          .author
            %span genue
        %h4 Заголовок
        %p примерно так будет выглядеть главная если отойти от монитора на 10 метров
      
      .entry.image
        .rel
          .author
            %span andy
        %h4 Картинка
        %p= image_tag 'sleepy_hollow_by_spookyme.jpg'
      
      .entry.link
        .rel
          .author
            %span genue
        %h4 Ссылка
        %p
          %a{:href => 'http://www.mmm-tasty.ru/', :target => '_blank'} www.mmm-tasty.ru
        
      .entry.quote
        .rel
          .author
            %span andy
        -# %h4 Цитата
        %p
          %span &laquo;
          То, что долго живет, растет медленно
          %span &raquo;
      
  
:javascript
  var t_bg_clicked = null;
  
  jQuery('.backgrounds .t-act-background-change').find('.note-current').hide().end().find('.note-set').show();
  jQuery('.backgrounds .selected').find('.note-current').show().end().find('.note-set').hide();

  jQuery('.t-premium-backgrounds .logo_color input').live('change', function(){
    jQuery.fancybox.showActivity();

    var selLogo = jQuery(this).val();
    jQuery.ajax({
      url: jQuery(this).data('action'),
      type: 'post',
      dataType: 'json',
      data: {
        authenticity_token: window._token,
        gray_logo: selLogo
      },
      complete: function() { jQuery.fancybox.hideActivity(); },
      success: function(json) {
        var src = jQuery('div.preview div.title img').attr('src');
        var dir = src.substr(0, src.lastIndexOf('/'))+'/';
        var logo = 'default_white.png';
        var hello_color = '#fff';
        if (selLogo == 1) {
          logo = 'default.png';
          hello_color = '#444';
        }
        jQuery('div.preview div.title img').attr('src', dir+logo);
        jQuery('div.preview div.title div.subtitle').css('color', hello_color);
      }
    });
  });

  jQuery('.t-premium-backgrounds .backgrounds .t-act-background-change').live('click', function() {
    jQuery.fancybox.showActivity();
    t_bg_clicked = jQuery(this);
  
    jQuery.ajax({
      url: jQuery(this).data('action'),
      type: 'post',
      dataType: 'json',
      data: {
        authenticity_token: window._token,
        id: jQuery(this).data('id')
      },
      complete: function() { jQuery.fancybox.hideActivity(); },
      success: function(data) {
        if(data === true) {
          jQuery('.backgrounds .selected').removeClass('selected').addClass('t-act-background-change').find('.note-current').hide().end().find('.note-set').show();
          t_bg_clicked.removeClass('t-act-background-change').addClass('selected').find('.note-current').show().end().find('.note-set').hide();
          jQuery('.preview').css({ backgroundImage: 'url(' + t_bg_clicked.data('image') + ')' });
        }
      }
    });
    return false;
  });
  
  jQuery('.t-premium-backgrounds .backgrounds .delete').click(function() {
    jQuery.fancybox.showActivity();
    t_bg_clicked = jQuery(this).parent();

    jQuery.ajax({
      url: t_bg_clicked.data('action'),
      dataType: 'json',
      type: 'post',
      data: {
        authenticity_token: window._token,
        id: t_bg_clicked.data('id'),
        '_method': 'delete'
      },
      complete: function() { jQuery.fancybox.hideActivity(); },
      success: function(data) {
        if(data === true) {
          jQuery(t_bg_clicked).hide(500);
        }
      }
    });
    return false;
  });
  
  jQuery('.t-premium-backgrounds .backgrounds .selected').each(function() {
    jQuery('.preview').css({ backgroundImage: 'url(' + jQuery(this).data('image') + ')' });
  });

  jQuery('#fancybox_link_background').fancybox({
    titleShow: false,
    centerOnScroll: true,
    autoDimensions: true,
    hideOnOverlayClick : true,
    hideOnContentClick: false
  });
