- @title = "премиум возможности, #{current_user.username}"
- content_for :header do
  Тейсти-премиум
  = link_to 'Подключить', user_url(current_site, settings_premium_path(:action => 'pay')), :class => 'button fancybox_payment_popup' unless is_premium?

.premium-features
  - if is_premium?
    %p.enabled
      = current_site.premium_days_left.pluralize('Остался', 'Осталось', 'Осталось', false)
      %span{:class => classes(['alert', current_site.premium_days_left <= 3])} #{days(current_site.premium_days_left)}.
      Премиум-аккаунт подключен до #{Russian.strftime(current_site.premium_till, '%e %B %Y')}.

  .killer-features
    .feature.pad
      = image_tag 'premium/settings_blacklist.png'
      %p.bold Черный список
      - if is_premium?
        %p Пользователи, добавленные в черный список, больше не смогут попасть в ваш тлог и вы их больше никогда не увидите ни в "прямом эфире", ни в "лучшем".
      - else
        %p Пользователи, добавленные в черный список, больше не смогут попасть в ваш тлог и вы их больше никогда не увидите ни в "прямом эфире", ни в "лучшем".
      %p.change
        = link_to 'Настроить', user_url(current_site, settings_social_path), :class => 'button' if is_premium?

    .feature
      = image_tag 'premium/settings_accounts.png'
      %p.bold Несколько аккаунтов
      - if is_premium?
        %p С помощью этой функции вы можете быстро переключаться между несколькими аккаунтами.
      - else
        %p С помощью этой функции вы сможете быстро переключаться между несколькими аккаунтами.
      %p.change
        = link_to 'Настроить', user_url(current_site, settings_premium_path(:action => 'accounts')), :class => 'button' if is_premium?
  
    .feature.pad
      = image_tag 'premium/settings_privacy.png'
      %p.bold Только для себя
      - if is_premium?
        %p В настройках секретности у вас появилась еще одна опция — "только для себя".
      - else
        %p Для тех, кто хочет полностью скрыть свой тлог.
      %p.change
        = link_to 'Настроить', user_url(current_site, settings_path) + '#privacy', :class => 'button' if is_premium?

    .feature
      = image_tag 'premium/settings_background.png'
      %p.bold Свой фон на главной
      - if is_premium?
        %p Вы можете поменять фон на главной странице на свой, либо выберите любой из понравившийся из нашей скромной коллекции.
      - else
        %p Вы сможете поменять фон на главной странице на свой, либо выбрать любой из понравившихся из нашей скромной коллекции.
      %p.change
        = link_to 'Настроить', user_url(current_site, settings_premium_path(:action => 'background')), :class => 'button' if is_premium?
    

  %hr
  
  %h3 А также
  
  .extra-features
    .feature.pad
      = image_tag 'premium/settings_anonymous.png'
      %p.bold Открытые анонимки
      %p У вас будет снято ограничение, не позволяющее вам писать анонимки сразу после регистрации.
    
    .feature.pad
      = image_tag 'premium/settings_limits.png'
      %p.bold Никаких ограничений
      %p Ограничения на публикацию в прямой эфир будут сняты, но правила публикации останутся такими же, как и для остальных участников сообщества.

    .feature
      = image_tag 'premium/settings_noads.png'
      %p.bold Никакой рекламы
      %p Если вам захочется, то в вашем тлоге исчезнет раздел "Реклама".
    
    -# .feature
    -#   = image_tag 'premium/settings_heart.png'
    -#   %p.bold Благодарность
    -#   %p Оплатой сервиса вы поддержите проект и его разрабочиков, и тогда они смогут выделять больше времени и ресурсов на его развитие.
      
      - if is_premium?
        %label#grateful
          %input{:type => 'checkbox', :checked => (current_site.settings[:ng] == 1) ? nil : 'checked'}
          Отображать мое имя в списке поблагодаривших

  = image_tag 'premium/shadow.png', :class => 'shadow'

  %center
    = link_to "#{is_premium? ? 'Продлить' : 'Подключить'} тейсти-премиум", user_url(current_site, settings_premium_path(:action => 'pay')), :id => 'paylink', :class => 'paylink fancybox_payment_popup'
    -# - else
    -#   .paydisabled Простите, оплата временно недоступна. Надеемся, что после 16 сентября все заработает.
  
:javascript
  jQuery(function() {
    jQuery('#grateful input').change(function() {
      var value = 
      jQuery.ajax({
        url: #{user_url(current_site, settings_premium_path(:action => 'grateful')).to_json},
        type: 'post',
        dataType: 'json',
        data: {
          authenticity_token: window._token,
          value: !jQuery(this).is(':checked')
        },
        success: function(data) {
          new Effect.Highlight('grateful', { duration: 0.3 });
        }
      });
    });
    jQuery('.fancybox_payment_popup').fancybox({
      titleShow: false,
      centerOnScroll: true,
      autoDimensions : false,
      hideOnOverlayClick : true,
      hideOnContentClick: false,
      width: 650,
      height: 400,
      onStart: function() {
        window.location.hash = '#pay';
      },
      onClosed: function() {
        window.location.hash = '#index';
      }
    });
    if(window.location.hash != 'undefined' && window.location.hash == '#pay') {
      jQuery('#paylink').click();
    }
  });