- @title = "премиум возможности, #{current_user.username}"
- content_for :header do
  Тейсти-премиум
  -# link_to 'Подключить', user_url(current_site, settings_premium_path(:action => 'pay')), :class => 'button fancybox_payment_popup' unless is_premium?

.premium-features
  - if is_premium?
    %p.enabled
      = current_site.premium_days_left.pluralize('Остался', 'Осталось', 'Осталось', false)
      %span{:class => classes(['alert', current_site.premium_days_left <= 3])} #{days(current_site.premium_days_left)}.
      Премиум-аккаунт подключен до #{Russian.strftime(current_site.premium_till, '%e %B %Y')}.

  .killer-features
    .feature.pad
      = image_tag 'premium/settings_blacklist.png'
      %p.bold Черный список
      - if is_premium?
        %p Вы можете добавлять любых пользователей в черный список и они больше не смогут попасть в ваш тлог, не говоря уже о том, чтобы оставить в нем комментарий.
      - else
        %p Вы сможете добавлять любых пользователей в черный список и они больше не смогут попасть в ваш тлог, не говоря уже о том, чтобы оставить в нем комментарий.
      %p.change
        = link_to 'Настроить', user_url(current_site, settings_social_path), :class => 'button' if is_premium?

    .feature
      = image_tag 'premium/settings_accounts.png'
      %p.bold Несколько аккаунтов
      - if is_premium?
        %p С помощью этой функции, вы можете моментально переключаться между несколькими тлогами одновременно, без необходимости выходить и входить, запоминая текущую страницу.
      - else
        %p С помощью этой функции, вы сможете моментально переключаться между несколькими тлогами одновременно, без необходимости выходить и входить, запоминая текущую страницу.
      %p.change
        = link_to 'Настроить', user_url(current_site, settings_premium_path(:action => 'accounts')), :class => 'button' if is_premium?
  
    .feature.pad
      = image_tag 'premium/settings_privacy.png'
      %p.bold Только для себя
      - if is_premium?
        %p В настройках секретности у вас появилась еще одна опция — только для себя, а значит вы можете существовать на сайте в полностью невидимом режиме.
      - else
        %p В настроках секретности у вас появится еще одна опция — только для себя, а значит вы сможете существовать на сайте в полностью невидимом режиме.
      %p.change
        = link_to 'Настроить', user_url(current_site, settings_path) + '#privacy', :class => 'button' if is_premium?

    .feature
      = image_tag 'premium/settings_background.png'
      %p.bold Свой фон на главной
      - if is_premium?
        %p Вы можете поменять фон на главной странице на свой, либо выберите любой из понравившийся из нашей скромной коллекции.
      - else
        %p Вы сможете поменять фон на главной странице на свой, либо выбрать любой из понравившихся из нашей скромной коллекции.
      %p.change
        = link_to 'Настроить', user_url(current_site, settings_premium_path(:action => 'background')), :class => 'button' if is_premium?
    

  %hr
  
  %h3 А также
  
  .extra-features
    .feature.pad
      = image_tag 'premium/settings_anonymous.png'
      %p.bold Открытые анонимки
      %p У вас будет снято ограничение, не позволяющее вам писать анонимки сразу после регистрации.
    
    .feature.pad
      = image_tag 'premium/settings_limits.png'
      %p.bold Никаких ограничений
      %p Ограничения на публикацию в прямой эфир будут сняты, но правила публикации останутся такими же как и для остальных участников сообщества.
    
    .feature
      = image_tag 'premium/settings_badge.png'
      %p.bold Значок PRO на аватаре
      %p Название говорит само за себя, а мы не очень понимаем, что еще к этому можно добавить. Разве только то, что вы сможете выбрать показывать его или нет.

  = image_tag 'premium/shadow.png', :class => 'shadow'

  %center
    - if in_beta?
      = link_to "#{is_premium? ? 'Продлить' : 'Подключить'} тейсти-премиум", user_url(current_site, settings_premium_path(:action => 'pay')), :id => 'paylink', :class => 'paylink fancybox_payment_popup'
    - else
      .paydisabled Простите, оплата временно недоступна. Надеемся, что после 16 сентября все заработает.
  
:javascript
  jQuery(function() {
    jQuery('.fancybox_payment_popup').fancybox({
      titleShow: false,
      centerOnScroll: true,
      autoDimensions : false,
      hideOnOverlayClick : true,
      hideOnContentClick: false,
      width: 650,
      height: 400,
      onStart: function() {
        window.location.hash = '#pay';
      },
      onClosed: function() {
        window.location.hash = '#index';
      }
    });
    if(window.location.hash != 'undefined' && window.location.hash == '#pay') {
      jQuery('#paylink').click();
    }
  });