<%
  require 'net/http'

  books = nil
  
  begin
    books = Rails.cache.fetch('bookmate-popular', :expires_in => 1.hour) do
      req = Net::HTTP::Get.new('/search/popular.js')
      req['Host'] = 'www.bookmate.ru'

    
      http = Net::HTTP.new('www.bookmate.ru', '80')
      # http.open_timeout = 2
      http.read_timeout = 10
      res = nil
      begin
        res = http.request(req)
      rescue
        # ignore any exceptions
      end
  
      case res
      when Net::HTTPSuccess
        begin
          # Rails.logger.debug "search-api query #{path} reply with #{res.code}, #{res.body.length} bytes, content_type #{res.content_type}"

          if res.body.length == 4 && res.body == 'null'
            nil
          else
            JSON.parse(res.body)
          end
        rescue Exception => ex
          # Rails.logger.error "search-api query #{path} parse failed with #{ex.message}"
      
          nil
        end
      else
        # Rails.logger.error "search-api query #{path} failed with #{res.code}"
        # Rails.logger.error res.body

        nil
      end
    
    end
  rescue
    # do nothing
  end
  
  books = books.shuffle[0..3] if books
  # puts books.inspect
  # books = [
  #   {
  #     :title      => 'Заводной апельсин',
  #     :authors    => 'Энтони Берджесс',
  #     :cover      => 'bookmate/tasty-clockwork-orange.jpg',
  #     :url        => 'http://www.bookmate.ru/books/YUIMgodd',
  #     :uuid       => 'eKjfvJRE'
  #   },
  #   { 
  #     :title      => 'Милые кости',
  #     :authors    => 'Сиболд Элис',
  #     :cover      => 'bookmate/tasty-milie-kosti.jpg',
  #     :url        => 'http://www.bookmate.ru/books/BNOw47ik',
  #     :uuid       => 'jVJqeXrf'
  #   },
  #   {
  #     :title      => 'Торговец пушками',
  #     :authors    => 'Хью Лори',
  #     :cover      => 'bookmate/tasty-torgovets-pushkami.jpg',
  #     :url        => 'http://www.bookmate.ru/books/ZIzS8dks',
  #     :uuid       => 'ERkcvVKV'
  #   }
  # ]
  
  if books
%>

<div class='sidebar_books'>
	<h2><span>
	  <a href="http://www.bookmate.ru" title="Читать книги онлайн">Читать книги онлайн</a>
	</span> <%= image_tag 'bookmate/tasty-bookmate.gif' %></h2>

  <span>Bookmate — это сервис для чтения и хранения ваших электронных книг.</span>
  <br><br>
  <% books.each do |book| %>
    <div class='sidebar_book'>
      <% if book['uuid'] %>
        <%= link_to image_tag(URI.parse('http://www.bookmate.ru').merge(book['cover']).to_s, :alt => [book['title'], book['authors']].join(', ')), "http://www.bookmate.ru/r#d=#{book['uuid']}", :title => [book['title'], book['authors'], 'читать онлайн'].join(', '), :rel => 'bookmate' %>
      <% else %>
        <%= link_to image_tag(URI.parse('http://www.bookmate.ru').merge(book['cover']).to_s, :alt => [book['title'], book['authors']].join(', ')), book['url'], :title => [book['title'], book['authors'], 'читать онлайн'].join(', ') %>
      <% end %>
      <h3><%= link_to book['title'], book['url'] %></h3>
      <h4><%= link_to book['authors'], book['url'] %></h4>          
    </div>    
  <% end %>
</div>
<% end %>