<div id="footer">
	<p>&copy; 2007–<%= Date.today.year %>, 
	<% if current_site %>
		<%= link_to_tlog(current_site) %> (<%= link_to 'rss', user_path(current_site, tlog_feed_path(:action => 'rss')) %>) @
	<% end %>
	<%= link_to current_service.domain, service_url %>,
	<%= link_to 'о проекте', service_url(main_path(:action => 'about')) %>
	<%= link_to 'новости', service_url(main_path(:action => 'news')) %>
  <br/>

	<%= mail_to "feedback@#{current_service.domain}", nil, :encode => 'javascript' %>
	</p>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var ga_page_tracker = _gat._getTracker("UA-1562460-1");

  ga_page_tracker._setDomainName('.mmm-tasty.ru');
  ga_page_tracker._trackPageview();
} catch(err) {}</script>