%footer
  #footer
    %p
      &copy; 2007–#{Date.today.year}, 
      - if current_site
        = link_to_tlog(current_site)
        (#{link_to 'rss', user_path(current_site, tlog_feed_path(:action => 'rss'))}) @

      #{link_to current_service.domain, service_url},
      = link_to 'о проекте', service_url(main_path(:action => 'about'))
      = link_to 'реклама', service_url(main_path(:action => 'adv')) unless current_site
      = link_to 'новости', service_url(main_path(:action => 'news'))

      - unless current_site
        %span.footer-social
          %a{ :href => "http://www.twitter.com/mmm_tasty", :title => 'Подпишитесь на наши новости в Facebook'}
            = image_tag 'tasty_twitter.png', :size => '16x16', :alt => "Подпишитесь на наши новости в Twitter", :class => 'f_twitter'

          %a{ :href => 'http://www.facebook.com/mmmtasty', :title => 'Подпишитесь на наши новости в Facebook'}
            = image_tag 'tasty_facebook.png', :size => '16x16', :alt => 'Подпишитесь на наши новости в Facebook', :class => 'f_facebook'

          %a{ :href => 'http://vkontakte.ru/club20765600', :title => 'Подпишитесь на наши новости во Вконтакте'}
            = image_tag 'tasty_vkontakte.png', :size => '16x16', :alt => 'Подпишитесь на наши новости во Вконтакте', :class => 'f_vkontakte'

      %br

      = mail_to "feedback@#{current_service.domain}", nil, :encode => 'javascript'

= render :partial => 'globals/counters' if Rails.env.production?