<!-- template: globals/head -->

<meta name="robots" content="index,follow">

<script type='text/javascript'>
  var current_user = <%= current_user ? current_user.id : 0 %>;
  <% if current_user %>
  var _user = <%= {
        :id   => current_user.id,
        :url  => current_user.url,
        :sid  => cookies[ActionController::Base.session_options[:key]]
      }.to_json %>;
  <% end %>
  
  window._token = "<%= form_authenticity_token %>";
</script>

<%= glued_stylesheet_link_tag 'application' %>
<!--[if IE]> <%= glued_stylesheet_link_tag 'application', 'ie' %> <![endif]-->
<%= glued_stylesheet_link_tag 'tlog' if current_site %>
<%= glued_javascript_include_tag 'application' %>

<link rel="shortcut icon" href='/favicon.ico'>
<meta name="MSSmartTagsPreventParsing" content="true">
<meta http-equiv="imagetoolbar" content="no">
<meta name="generator" content="tlogs.ru">

<script type='text/javascript' src='http://www.bookmate.ru/inline.js' charset='utf-8'></script>

<% if @title %>
	<title><%= [h(current_site ? h(current_site.url) : 'ммм... тейсти'), strip_tags(@title)].reject(&:blank?).join(' – ') %></title>
<% end %>

<%= yield :head %>
<!-- /template: globals/head -->