<meta name="robots" content="index,follow" />
<meta charset="utf-8" />
<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no" />

<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="generator" content="<%= current_serivce.domain %>" />

<link rel="shortcut icon" href="/favicon.ico" />

<!-- apple devices configuration -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
<link rel="apple-touch-startup-image" href="/apple-startup.png" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<script type='text/javascript'>
  var current_user = <%= current_user ? current_user.id : 0 %>;
  <%- if current_user -%>
  var _user = <%= { :id => current_user.id, :url => current_user.url, :premium => current_user.is_premium? }.to_json %>;
  <%- end -%>
  window._token = "<%= form_authenticity_token %>";
</script>
<%= render :partial => 'globals/gajs' %>

<%= tasty_include_stylesheets :mobile %>
<%= tasty_include_javascripts :mobile %>
<title>Тейсти</title>
<%= yield :head %>