<meta name="robots" content="index,follow" />
<meta charset="utf-8" />
<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no" />

<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="generator" content="tlogs.ru" />

<link rel="shortcut icon" href="/favicon.ico" />

<!-- apple devices configuration -->
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-ipad-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-iphone4-precomposed.png" />
<link rel="apple-touch-startup-image" href="/apple-startup.png" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<script type='text/javascript'>
  var current_user = <%= current_user ? current_user.id : 0 %>;
  <%- if current_user -%>
  var _user = <%= { :id   => current_user.id, :url  => current_user.url }.to_json %>;
  <%- end -%>
  
  /* validations */
  window._token = "<%= form_authenticity_token %>";
</script>

<%= render :partial => 'globals/gajs' %>

<link href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" rel="stylesheet" type="text/css" />
<%= glued_stylesheet_link_tag 'application', 'mobile' %>
<%= glued_stylesheet_link_tag('tlog', 'mobile') if current_site %>

<%= glued_javascript_include_tag 'mobile' %>
<script type='text/javascript' src='http://code.jquery.com/mobile/latest/jquery.mobile.min.js'></script>

<title>Тейсти</title>

<%= yield :head %>