<% @title = @entry.excerpt || @entry.to_russian %>
<div class='onair'>
	<%= render :partial => 'entries/anonymous_entry_display', :locals => { :entry => @entry, :show_datetime => true } %>
	<a name="comments"></a>

	<% if @entry.comments_enabled? || @entry.comments.size > 0 %>
		<div class="t-post-comments post_comments">
			<div class="top_comments_text">
				<% if @entry.comments.size == 0 %>
					Комментариев еще нет
				<% else %>
					Комментарии (<span id='top_comment_number'><%= @entry.comments.size %></span>):
				<% end %>
			</div>

  		<% if current_user && current_user.id != @entry.user_id %>
  			<div class='rel'>
  				<div class='subscribe_controls'>
  					<%= link_to_remote image_tag('letter.gif', :size => '17x15', :alt => 'подписаться'), { :url => service_url(anonymous_path(:action => 'subscribe', :id => @entry)) }, :id => 'subscribe_link', :style => "display: #{!@entry.subscriber_ids.include?(current_user.id) ? 'block' : 'none'}", :title => 'подписаться на новые комментарии' %>
  					<%= link_to_remote image_tag('unletter.gif', :size => '17x15', :alt => 'отписаться'), { :url => service_url(anonymous_path(:action => 'unsubscribe', :id => @entry)) }, :id => 'unsubscribe_link', :style => "display: #{@entry.subscriber_ids.include?(current_user.id) ? 'block' : 'none'}", :title => 'отписаться от комментариев' %>
  				</div>
  			</div>
  		<% elsif current_user && current_user.id == @entry.user_id %>
  		  <div class='rel'>
  		    <div class='subscribe_controls'>
  		      <span title='Это ваша анонимка и вы подписаны на все комментарии'><%= image_tag('unletter.gif', :size => '17x15', :alt => nil) %></span>
  		    </div>
  		  </div>
  		
  		<% end %>

			<%= render :partial => 'tlog/comment', :collection => Comment.find(:all, :conditions => ['comments.entry_id = ?', @entry.id], :include => :user, :order => 'comments.id').reject { |c| c.user.nil? } if @entry.comments.size %>

			<% if @entry.comments_enabled? %>
				<%= render :partial => 'comment_form' %>
			<% end %>
		</div>
	<% end %>
	
	<% if !@entry.comments_enabled? %>
		<div class='return_from_permalink'>комментарии были отключены владельцем тлога</div>
	<% end %>
</div>
<script type='text/javascript'>
  jQuery(function() {
    jQuery('#subscribe_link').twipsy({ offset: 5, delayIn: 2000 });
    jQuery('#unsubscribe_link').twipsy({ offset: 5, delayIn: 2000 });
  });
</script>
