%div{:data => {:role => 'header'}}
  = link_to 'В анонимки', service_url(anonymous_path), 'data-icon' => 'arrow-l', 'data-transition' => 'slide', 'data-direction' => 'reverse', 'data-iconpos' => 'notext', 'data-rel' => 'back'
  %h1 Лучшее
  = link_to 'Обновить', '', 'data-icon' => 'refresh', 'data-iconpos' => 'notext', 'data-refresh-url' => service_url(anonymous_path(@entry)))

%div{:data => {:role => 'content', :theme => 'd'}}
  = render :partial => 'entries/anonymous_entry_display', :locals => { :entry => @entry, :show_datetime => true }

  .t-entry-comments
    %h4
      - if @entry.comments.size == 0
        Комментариев еще нет
      - else
        = "Комментарии (<span id='t-entry-comments-count'>#{@entry.comments.size}</span>):"

    = render :partial => 'tlog/comment', :collection => Comment.find(:all, :conditions => ['comments.entry_id = ?', @entry.id], :include => { :user => :avatar }, :order => 'comments.id').reject { |c| c.user.nil? } if @entry.comments.size

    =# render :partial => 'comment_form'