<div class="t-account-login">
  <div class='ui-bar ui-bar-a'>
    <h1>Вход</h1>
  </div>
  
  <div class='ui-body'>
  	<% form_for :user, @user do |f| %>
      <div class='t-account-login-email' data-role="fieldcontain">
      	<label for="user_email">email:</label>
    		<%= f.text_field :email %>
    		<%= tasty_error_message_on('user', 'email') %>
      </div>
      <div class='t-account-login-password' data-role="fieldcontain">
      	<label for="user_password">пароль:</label>
    		<%= f.password_field :password %>
    		<%= tasty_error_message_on('user', 'password') %>
      </div>

      <div class='t-account-login-password' data-role="fieldcontain">
    		<input type="submit" value="Войти" data-role='button' data-icon='arrow-r' data-iconpos='right' />
    	</div>

  		<div class='options_togo'>
  			<%= link_to 'забыли пароль?', lost_password_url %>
  		</div>		
  	<% end %>
	</div>
</div>