<% @title = "Регистрация закрыта" %>

<div class='center_data_big_form'>
  <p>К сожалению, на данный момент свободная регистрация закрыта. Зарегистрироваться только по приглашениям. <!-- открыта только для жителей <b>Перми</b> и <b>Твери</b><%= " (ваш город — #{@ipinfo[:city]})" if @ipinfo && @ipinfo[:city] %>. --> </p>
  <!-- <p>Общая регистрация открывается каждую субботу и воскресенье поздним <i>московским</i> вечером.</p> -->
</div>

<div style='display: none'>
  remote ip: <%= request.remote_ip %> <br/>
  <% if @ipinfo %>
  country: <%= @ipinfo[:country] %>
  city: <%= @ipinfo[:city] %>
  region: <%= @ipinfo[:region] %>
  <% end %>
</div>