<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'globals/head' %>
  </head>
  
  <body lang='ru'>
    <div data-role="page">
      <div data-role="header">
        <%= link_to 'На главную', service_url(main_path), 'data-icon' => 'arrow-l', 'data-transition' => 'slide', 'data-direction' => 'reverse', 'data-iconpos' => 'notext', 'data-rel' => 'back' %>

        <h1>Ммм... тейсти</h1>
      </div>

      <div data-role="content" data-theme="d">
        <h1>Упс! Такого тлога не существует</h1>
        <p>он или никогда не существовал, или переехал на новый адрес</p>
        <p><%= link_to 'вернуться на главную', service_url %> или 
          <% if current_user %>
            <%= link_to 'вернуться в свой тлог', user_url(current_user) %>
          <% else %>
            <%= link_to 'зарегистрировать этот адрес', service_url(signup_path) %>
          <% end %>
        </p>
      </div>
    </div>    
  </body>

  <%= render :partial => 'globals/counters' if Rails.env.production? %>
</html>