<% @title = "активность#{", страница #{params[:page].to_i}" if params[:page]}" %>

<div class='onair'>
  <h3><%= @title.split(',').first %></h3>
  <% @results.each do |result| %>
    <div class='message'>
      <div class='rel'>
    	  <div class='message_sender'><%= link_to_tlog User.find(result.user_id) %></div>
    	</div>
    	<p>
        <%= render :partial => "activities/#{result.class.name.tableize.singularize}", :locals => { result.class.name.tableize.singularize.to_sym => result } %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @results %>

<div class='return_from_permalink'>
	<%= link_to "&#x2190; обратно в тлог", user_path(current_site) %>
</div>

