-# если картинка ссылкой на удаленный ресурс %>
- alt     = entry.data_part_2.blank? ? nil : h_attr(entry.data_part_2)
- options = { :title => '', :alt => alt, :class => 't-entry-image-img' }

.t-entry-image
  - if entry.data_part_1
    = image_tag resized_image_path(entry.data_part_1, 285), options.merge(entry.geometry(:width => 285))
  - elsif !entry.attachments.empty?
    - image = entry.attachments.first
    - thumb = image.thumbnails.select { |i| i.thumbnail == 'tlog' }.first
    - if thumb
      = link_to image_tag(thumb.public_filename, options.merge(entry.geometry(:width => 285, :image => thumb))), image_path(image.public_filename), :rel => 'follow', :class => 't-entry-image-thumb'
    - else
      = image_tag image.public_filename, options.merge(entry.geometry(:width => 285))

  = content_tag :div, link_to(truncate(entry.data_part_3, :length => 50), entry.data_part_3, :rel => 'nofollow'), :class => 't-entry-image-link' unless entry.data_part_3.blank?
  = content_tag :div, white_list_entry(entry.data_part_2, :media_width => 285), :class => 't-entry-image-comment' unless entry.data_part_2.blank?