- unless params[:controller] == 'conversations' || (params[:controller] == 'main' && %w(my last_personalized).include?(params[:action]))
  .sidebar_search
    %form{ :method => 'get', :action => service_url(search_path) }
      = text_field_tag 'query', params[:query], :placeholder => 'Поиск по тлогам', :type => :search, :autosave => "com.tlogs", :results => 10

= render(:partial => 'globals/tastyradio') if params[:action] == 'live' || params[:action] == 'last' || (params[:controller] == 'main' && params[:action] == 'index')
= yield :sidebar_right_calendar
= render(:partial => 'globals/dfp240x400') if %w(news last live my last_personalized hot).include?(params[:action]) || params[:controller] == 'anonymous' || params[:controller] == 'conversations'

- if params[:controller] == 'search' && @users
  %h2
    %span Пользователи

  .users
    - @users.each do |user|
      %div
        = link_to_tlog(user, :link => :userpic, :empty => :blank)
        %p= link_to_tlog(user)
    
    = content_tag(:p, "... и еще #{(@users.total_entries - @users.per_page).pluralize('пользователь', 'пользователя', 'пользователей', true)}") if @users.total_pages > 1