!!! 5
%html
  %head
    = render :partial => 'globals/head'

  %body{:lang => 'ru'}
    %div{:data => {:role => 'page'}}
      %div{:data => {:role => 'header'}}
        = link_to 'На главную', service_url, 'data-icon' => 'home', 'data-iconpos' => 'notext'
        %h1= image_tag 'logo_white.png', :size => '89x18'

      %div{:data => {:role => 'content', :theme => 'c'}}
        = yield

    = render :partial => 'globals/counters' if Rails.env.production?