- content_for :sidebar_right do
  = render :partial => 'layouts/main_sidebar_right'
!!! 5
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
%head
  = render :partial => 'globals/head'
  = javascript_include_tag 'specials/snowstorm.js'
  = render :partial => 'globals/dfp_head'
  - logo_is_gray = true
  - if is_premium? && current_user.tlog_settings.background
    - logo_is_gray = current_user.tlog_settings.background.gray_logo
    :css
      body.main_page { background:url(#{current_user.tlog_settings.background.image.url}) fixed; }

%body.main_page
  .logo
    = link_to_if((params[:controller] != 'main' || params[:action] != 'index'), image_tag (current_service.logo(logo_is_gray ? nil : :white), :alt => current_service.name, :class => 'logo_img'), service_url, :class => 'logo_link')

  .register_enter
    %div{ :class => classes('top_hello', ['gray', logo_is_gray]) }
      - if current_user
        Будьте собой, #{link_to_tlog(current_user, :link => :username)}!
      - else
        Присоединяйтесь к нам, #{link_to 'зарегистрируйтесь', service_url(login_path)}.

    .top_menu
      %ul
        - news = User.find_by_url 'news'
        - news_count = if news then news.new_entries_count_for(current_user) else 0 end
        = menu_item 'О проекте', :about, %w(main/about main/users main/new_users main/stats main/adv)
        = menu_item "Новости#{"<sup>+#{news_count}</sup>" unless news_count.zero?}", :news
        = menu_item 'Лучшее', :last
        = menu_item 'Анонимки', :anonymous, %w(anonymous/*)
        = menu_item "Моё#{"<sup>+#{current_user.unviewed_conversations_count}" unless current_user.unviewed_conversations_count.zero?}", :my, %w(main/my main/last_personalized conversations/index conversations/show conversations/new conversations/search) if current_user
        = menu_item 'Прямой эфир', :live
        = menu_item "День из жизни", :random

  #wrapper
    - sidebar_left = capture do
      = yield :sidebar_left
    - unless sidebar_left.blank?
      .sidebar_holder
        %div{ :class => ['sidebar', @sidebar_left_short && 'sidebar_left_short']}
          .personal.round
            .content
              = sidebar_left

    - sidebar_right = capture do
      = yield :sidebar_right
    - unless sidebar_right.blank?
      .sidebar_holder
        .sidebar.sidebar_right
          .personal.round
            .content
              = sidebar_right

    .main_rounded_holder
      .rounded_main_center
        = yield
  
  = render :partial => 'globals/foot'

  = render :partial => 'globals/top_nav'
  
  - if @enable_shortcut
    %div{ :id => 't-act-shortcut', :class => classes(['gray', gray_logo]) } &uarr; Наверх
  
  = render :partial => 'globals/reformal' if Rails.env.production?
</html>