<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'globals/head' %>
  </head>
  
  <body lang='ru'>
    <div data-role="page">
      <div data-role="header">
        <%= link_to 'На главную', service_url(main_path), 'data-icon' => 'arrow-l', 'data-transition' => 'slide', 'data-direction' => 'reverse', 'data-iconpos' => 'notext' %>

        <h1>Ммм... тейсти</h1>

        <%= yield :header_r %>
      </div>

      <!-- <div data-role="content" data-theme="d"> ... </div> -->      
      <%= yield %>
      
      <!-- <div data-role="footer" x-data-position="fixed" x-data-id="footer">
        <div data-role='navbar'>
          <ul>
            <li><%= link_to 'Моё', main_url(:action => :my), 'data-icon' => 'forward', 'data-iconpos' => 'top' %></li>
            <li class="ui-btn-active"><%= link_to 'Эфир', main_url(:action => :live), 'data-icon' => 'star', 'data-iconpos' => 'top' %></li>
            <li><%= link_to 'Доб', '#', 'data-icon' => 'plus', 'data-iconpos' => 'top' %></li>
            <li><%= link_to 'Лучшее', main_url(:action => :last), 'data-icon' => 'grid', 'data-iconpos' => 'top' %></li>
            <li><%= link_to 'Профиль', '#', 'data-icon' => 'info', 'data-iconpos' => 'top' %>
          </ul>
        </div>
      </div> -->
    </div>
    
    <%= yield :extra %>

    <div data-role="page" data-url="/main/last&ui-page=settings">
      <div data-role="header">
        <h1>Что показывать?</h1>
      </div>
      <div data-role="content" data-theme="d">
        <form method='get' action='/main/last_redirect'>
      		<%= select :filter, :rating, EntryRating::RATINGS_FOR_SELECT %>
      		<%= select :filter, :kind, Entry::KINDS_FOR_SELECT %>
      		<%= submit_tag "обновить", :name => nil %>
      	</form>
      </div>
      <!-- <div data-role="footer">
      </div> -->
    </div>
  </body>

  <%= render :partial => 'globals/counters' if Rails.env.production? %>
</html>