<%-
  @title = 'главная страница'
-%>
<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'globals/head' %>
  </head>
  
  <body lang='ru'>
    <div data-role="page">
      <div data-role="header">
        <%= link_to 'На главную', service_url(main_path), :class => 'ui-btn-left', 'data-icon' => 'home', 'data-iconpos' => 'notext' %>
        <h1><%= image_tag current_service.logo(:white), :size => '106x22' %></h1>
        <% if current_user %>
          <%= link_to 'Выйти', service_url(logout_path), :class => 'ui-btn-right' %>
        <% else %>
          <%= link_to 'Войти', service_url(login_path), :class => 'ui-btn-right' %>
        <% end %>
      </div>
      
      <div data-role="content"><%= yield %></div>
      
      <div data-role="footer" data-position="fixed" data-id="footer">
        <div data-role='navbar'>
          <ul>
            <li><%= link_to 'Моё', main_url(:action => :my), 'data-icon' => 'forward', 'data-iconpos' => 'top' %></li>
            <li class="ui-btn-active"><%= link_to 'Эфир', main_url(:action => :live), 'data-icon' => 'star', 'data-iconpos' => 'top' %></li>
            <li><%= link_to 'Доб', '#', 'data-icon' => 'plus', 'data-iconpos' => 'top' %></li>
            <li><%= link_to 'Лучшее', main_url(:action => :last), 'data-icon' => 'grid', 'data-iconpos' => 'top' %></li>
            <li><%= link_to 'Профиль', '#', 'data-icon' => 'info', 'data-iconpos' => 'top' %>
          </ul>
        </div>
        
        <%#= render :partial => 'globals/foot' %>
      </div>
    </div>		
  </body>
</html>