<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
	<%= render :partial => 'globals/head' %>
	<%#= tasty_include_javascripts :publish %>
</head>
<body class="bg_main body_layout_2">
	<div id="wrapper">
		<div id="header">
			<%= yield :header %>
		</div>
		<div id="container">
			<%= yield %>
		</div>
	</div>
	<% unless in_bookmarklet? %>
		<%= render :partial => 'globals/foot' %>
		<%= render :partial => 'globals/top_nav' %>
	<% end %>
</body>
</html>