<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="ru"> <!--<![endif]-->
<head>
	<%= render :partial => 'globals/head' %>
	<%= tasty_include_javascripts :extended %>
</head>
<body class='yui-skin-sam'>
	<div class='settings'>
  	<div id="wrapper" class="layout_2 <%= current_controller_class %>">
  		<div class="rounded_center">
  			<div class='sidebar_holder'>
  				<div class='rel'>
  					<div class='sidebar_settings'>
  						<%= render :partial => 'settings/menu' %>
  					</div>
  				</div>
  			</div>
  			<div class="content_layout_2">
  				<div class="padd_left">
  					<span class="header"><%= yield :header %></span>
  					<%= flash_div %>
  					<%= yield %>
  				</div>
  			</div>
  		</div>
  	</div>
  	<%= render :partial => 'globals/foot' %>
	</div>
	<%= render :partial => 'globals/top_nav' %>
	<%= yield :body %>
</body>
</html>