<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="ru"> <!--<![endif]-->
<head>
	<%= render :partial => 'globals/head' %>
	<%= render :partial => 'globals/dfp_head' unless is_private? %>  
</head>
<body id='the_tlog_body' class="<%= classes(['is-owner', is_owner?], ['is-not-owner', !is_owner?], ['not-logged-in', !current_user], ['logged-in', current_user]) %>">
	<div class='tlog'>
		<div class="tlog_header">
			<div id='tlog_menu'>
				<span id='tlog_menu_desc'>
					<div>
						<span id='tlog_menu_url'>
							<%= link_to_tlog_if(params[:action] != 'index' || params[:controller] != 'tlog' || (current_page != 1), current_site) %>
						</span>
					</div>
					<% unless current_site.tlog_settings.title.blank? %>
						<span id='tlog_menu_title'><%= h(current_site.tlog_settings.title) %></span>
					<% end %>
				</span>
			</div>

			<div class='sidebar_holder sidebar_tlog_right <%= ' sidebar_is_closed' unless (current_site.tlog_settings.sidebar_is_open? || is_robot?) %>' id='tlog_sidebar'>
				<div class='rel'>
					<div class='sidebar' id='tlog_sidebar_content' style='<%= (current_site.tlog_settings.sidebar_is_open? || is_robot?) ? 'display: block' : 'display: none' %>'>
						<div class="personal round">
						  <div class="content">
								<%= yield :sidebar %>
						  </div>
						</div>								
					</div>
					<div class='show_sidebar' id='show_sidebar' style='<%= (current_site.tlog_settings.sidebar_is_open? || is_robot?) ? 'display: none' : 'display: block' %>' onclick='new Effect.Move("show_sidebar", { x: -25, duration: 0.2, afterFinish: function() { $("show_sidebar").hide(); $("tlog_sidebar_content").show(); new Effect.Move("tlog_sidebar", { x: 216, duration: 0.3 }); } });'>i</div>
				</div>
			</div>
		</div>
		<div class="main_rounded_holder">
			<div class="rounded_main_center">
				<div class='onair<%= ' t-iscrollable' if @iscroll %>' data-iscroll-name='tlog'>
					<%= flash_div %>
					<%= yield %>
				</div>
			</div>
		</div>
		<%= render :partial => 'globals/foot' %>
	</div>
	<%= render :partial => 'globals/top_nav' %>
	<%= content_tag :div, '&uarr; Наверх', :id => 't-act-shortcut' if @enable_shortcut %>
</body>
</html>