<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="ru"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
	<%= render :partial => 'globals/head' %>
	<%= render :partial => 'tlog/dfp' unless is_private? %>
	<% if is_admin? || is_moderator? %>
	  <script type='text/javascript'>
	    jQuery(document).ready(function($){
	      $(document).bind('keydown', 'Ctrl+/', function(evt) {
	        window.location.href = <%= service_url(console_user_path(current_site)).to_json %>;
          return false;
        });
      });
    </script>
	<% end %>
	
	<% if false && is_admin? %>
  	<script type='text/javascript'>
    googletag.cmd.push(function() {
    googletag.defineSlot('/12198513/240x400', [240, 400], 'div-gpt-ad-1341942108431-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
    });
    </script>
    
    <style type='text/css'>
      .t-banner-crazy {
        float: right;
        position: fixed;
        right: 0;
        width: 272px;
        height: 100%;
        background: url('<%= image_path 'ad_sidebar_bg.jpg' %>');
        margin: 0;
        box-shadow: inset 5px 1px 10px #333;
        padding: 0;
      }
      .t-banner-crazy-holder {
        margin: 16px;
      }

      .tlog { margin-right: 272px; }

      .pref#fixedbox_r_t { right: 272px; }
    </style>
    
  <% end %>
</head>
<body id='the_tlog_body' class="<%= classes(['is-owner', is_owner?], ['is-not-owner', !is_owner?], ['not-logged-in', !current_user], ['logged-in', current_user]) %>">
  
  <style type='text/css'>
    .t-banner-crazy {
      float: right;
      position: fixed;
      right: 0;
      width: 272px;
      height: 100%;
      background: url('<%= image_path 'ad_sidebar_bg.jpg' %>');
      margin: 0;
      box-shadow: inset 5px 1px 10px #333;
      padding: 0;
    }

    .t-banner-crazy-holder {
      margin: 64px 16px 16px;
    }

    .tlog { margin-right: 272px; }
  </style>

  <div class='t-banner-crazy'>
    <div class='t-banner-crazy-holder'>
      <script language="JavaScript" type="text/javascript" src="http://ads.heias.com/x/heias.TAG.v2.0/heias.js"></script>
      <script language="JavaScript" type="text/javascript">
        var HEIAS_SRC='http://ads.heias.com/x/heias.TAG.v2.0/?H_VAR=n|;|12564|;|c|;|1686|;|s|;|18569|;|';
        document.write('<scr' + 'ipt language="JavaScript" type="text/javascript" src="'+ HEIAS_SRC +'"><\/scr' + 'ipt>');
      </script>
    </div>
  </div>
  <% if false && is_admin? %>
    <div class='t-banner-crazy'>
      <div class='t-banner-crazy-holder'>
        <div id='div-gpt-ad-1341942108431-0' style='width:240px; height:400px;'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1341942108431-0'); });
        </script>
        </div>
      </div>
    </div>
  <% end %>
	<div class='tlog'>
		<div class="tlog_header">
			<div id='tlog_menu'>
				<span id='tlog_menu_desc'>
					<div>
						<span id='tlog_menu_url'>
							<%= link_to_tlog_if(params[:action] != 'index' || params[:controller] != 'tlog' || (current_page != 1), current_site) %>
						</span>
					</div>
					<% unless current_site.tlog_settings.title.blank? %>
						<span id='tlog_menu_title'><%= h(current_site.tlog_settings.title) %></span>
					<% end %>
				</span>
			</div>

			<div class='sidebar_holder sidebar_tlog_right <%= ' sidebar_is_closed' unless (current_site.tlog_settings.sidebar_is_open? || is_robot?) %>' id='tlog_sidebar'>
				<div class='rel'>
					<div class='sidebar' id='tlog_sidebar_content' style='<%= (current_site.tlog_settings.sidebar_is_open? || is_robot?) ? 'display: block' : 'display: none' %>'>
						<div class="personal round">
						  <div class="content">
								<%= yield :sidebar %>
						  </div>
						</div>								
					</div>
					<div class='show_sidebar' id='show_sidebar' style='<%= (current_site.tlog_settings.sidebar_is_open? || is_robot?) ? 'display: none' : 'display: block' %>' onclick='new Effect.Move("show_sidebar", { x: -25, duration: 0.2, afterFinish: function() { $("show_sidebar").hide(); $("tlog_sidebar_content").show(); new Effect.Move("tlog_sidebar", { x: 216, duration: 0.3 }); } });'>i</div>
				</div>
			</div>
		</div>
		<div class="main_rounded_holder">
			<div class="rounded_main_center">
				<div class='onair<%= ' t-iscrollable' if @iscroll %>' data-iscroll-name='tlog'>
					<%= flash_div %>
					<%= yield %>
				</div>
			</div>
		</div>
		<%= render :partial => 'globals/foot' %>
	</div>
	<%= render :partial => 'globals/top_nav' %>
	<%= content_tag :div, '&uarr; Наверх', :id => 't-act-shortcut' if @enable_shortcut %>
</body>
</html>
