!!! 5
%html
  %head
    = render :partial => 'globals/head'

  %body{:lang => 'ru'}
    %div{:data => {:role => 'page'}}
      %div{:data => {:role => 'header'}}
        = link_to 'Назад', service_url('/'), 'data-icon' => 'arrow-l', 'data-transition' => 'slide', 'data-direction' => 'reverse', 'data-iconpos' => 'notext', 'data-rel' => 'back'

        %h1= h current_site.url

        = yield :header_r

      = yield

    = yield :extra

  = render :partial => 'globals/counters' if Rails.env.production?
