<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'globals/head' %>
  </head>
  
  <body lang='ru'>
    <div data-role="page">
      <div data-role="header">
        <%= link_to 'На главную', service_url(main_path), 'data-icon' => 'arrow-l', 'data-transition' => 'slide', 'data-direction' => 'reverse', 'data-iconpos' => 'notext' %>

        <h1><%= h(current_site.url) %></h1>

        <%= yield :header_r %>
      </div>

      <!-- <div data-role="content" data-theme="d"> ... </div> -->      
      <%= yield %>
      
    </div>
    
    <%= yield :extra %>
  </body>

  <%= render :partial => 'globals/counters' if Rails.env.production? %>
</html>